/* 任务流程 */
.step-item {
  position: relative; display: block;
  margin: 0 15px 40px 15px; padding: 10px 40px 10px 15px;
  color: #999;
  border: dashed 1px #ddd;
  background-color: #fff;
}
.step-item > h2 {
  font-size: 16px; line-height: 36px;
}
.step-item > h2 > i{
  margin-right: 5px;
  font-size: 20px; font-weight: 700;
}
.step-item > p {
  padding-bottom: 10px;
  color: #999; font-size: 14px; line-height: 24px;
  border-bottom: solid 1px #ddd;
}
.step-item > span {
  margin-top: 5px; display: block;
  color: #999; font-size: 12px; line-height: 24px;
}
.step-item > em {
  position: absolute; right: 15px; top: 50%; margin-top: -4px;
  border-color: #ccc; font-size: 28px;
}
.step-item > i {
  position: absolute; bottom: -33px; left: 50%; margin-left: -7px;
  color: #ccc; font-size: 22px;
}

.step-item.completed {
  border: 1px solid #99d0a6;
  background-color: #e8f4ea;
}
.step-item.completed > h2 {
  color: #555;
} 
.step-item.completed > span{
  color: #555;
}
.step-item.completed > i{
  color: #555;
}
.step-item.completed > p{
  color: #555;
  border-color: #b8dec0;
}
.step-item.completed > em {
  display: none;
}

.step-item.current{
  border: 2px dashed #f0732f;
}
.step-item.current > p {
  color: #555;
}
.step-item.current > span {
  color: #ef7d4b;
}
.step-item.current > em {
  border-color: #ef7d4b;
}