
/* task-list */
.task-list > h2 {
  padding-left: 2.8%;
  color: #f0732f; font-size: 16px; line-height: 42px; font-weight: 500;
  background-color: #fff;
}
.task {
  float: left; margin: 15px 0 0 2.8%;
  display: block; width: 45.8%;
  background-color: #fff;
}
.task .image-box {
  position: relative; padding-top: 100%; overflow: hidden;
  display: block; width: 100%;
}
.task .image-box img {
  display: block; height: 100%; margin: 0 auto;
  z-index: 5;
  background: #efefef url("../../image/image_placeholder.jpg") no-repeat scroll center center;
}
.task h3 {
  padding-left: 5px; padding-right: 5px; margin-top: 5px; margin-bottom: 5px;
  height: 40px; overflow: hidden; text-overflow: ellipsis;
  font-size: 14px; line-height: 20px;
}
.task .task-info {
  height: 24px;
  padding-left: 5px; padding-right: 5px; margin-bottom: 5px;
  color: #777; font-size: 12px; line-height: 24px;
}
.task .price {
  color: #f0732f;
}
.task em {
  padding: 1px 6px;
  color: #fff; background-color: #669c48;
}

/* task-detail */
.task-detail .product-image {
  position: relative; padding-top: 95%; overflow: hidden;
  display: block; width: 100%;
}
.task-detail .product-image img {
  display: block; width: 100%;
  z-index: 5;
  background: #efefef url("../../image/image_placeholder.jpg") no-repeat scroll center center;
}
.task-detail .detail-wrap p img {
  width: 100%;
}


/* task-popup */
.task-popup {
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%; 
  background: rgba(0, 0, 0, .7); z-index: 10;
}
.task-popup-wrap {
  position: absolute; top: 50%; left: 5%;
  width: 90%; height: 380px;
  margin-top: -190px; 
  background-color: #fafafa;
  z-index: 11; overflow-y: scroll;
}
.task-popup-wrap h2 {
  border-bottom: 1px solid #eee;
}
.task-popup .task-product {
  position: relative; padding: 10px 10px 10px 90px;
  width: 100%; height: 92px;
  overflow: hidden;
  border: 1px solid transparent;
  border-bottom: 1px solid #eee;
}
.task-popup .task-product.checked {
  border: 1px solid #f0732f;
}
.task-popup .i-checked {
  display: none;
  position: absolute; bottom: 0; right: 0;
}
.task-popup .checked .i-checked {
  display: block; width: 0; height: 0;
  border-bottom: 20px solid #f0732f;
  border-left: 20px solid transparent;
}
.task-popup .i-checked i {
  margin-left: -11px;
  color: #fff; font-size: 10px; line-height: 28px;
}
.task-popup .task-product img{
  float: left; margin-left: -80px;
  width: 70px; height: 70px;
}
.task-popup .task-product h3 {
  width: 100%; height: 30px;
  font-size: 12px; line-height: 30px;
}
.task-popup .task-popup-btn {
  position: absolute; top: 50%; left: 5%; margin-top: 200px; 
  width: 90%; height: auto;
  text-align: center;
}
.task-popup .task-popup-loading {
  display: block;
  margin: 120px auto;
}

