<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.ActivityTeamApplyMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.act.ActivityTeamApply">
		<id column="id" property="id" />
		<result column="activity_id" property="activityId" />
		<result column="paid_status" property="paidStatus" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result column="buyer_id" property="buyerId" />
		<result column="count" property="count" />
		<result column="amount" property="amount" />
		<result column="create_time" property="createTime" />
		<result column="paid_time" property="paidTime" />
	</resultMap>
	<sql id="baseColumn">id,activity_id,paid_status,buyer_id,count,amount,create_time,paid_time</sql>

	<insert id="insert" parameterType="com.zy.entity.act.ActivityTeamApply" useGeneratedKeys="true" keyProperty="id">
	  insert into `act_activity_team_apply` (activity_id,paid_status,buyer_id,count,amount,create_time,paid_time)
	  values (#{activityId},#{paidStatus,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{buyerId},#{count},#{amount},#{createTime},#{paidTime})
	</insert>

	<delete id="delete">
		delete from `act_activity_team_apply` where id = #{id}
	</delete>

	<update id="update" parameterType="com.zy.entity.act.ActivityTeamApply">
		update `act_activity_team_apply`
		<set>
			<if test="activityId != null"> activity_id = #{activityId},</if>
			<if test="paidStatus != null"> paid_status = #{paidStatus,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},</if>
			<if test="buyerId != null"> buyer_id = #{buyerId},</if>
			<if test="count != null"> count = #{count},</if>
			<if test="amount != null"> amount = #{amount},</if>
			<if test="createTime != null"> create_time = #{createTime},</if>
			<if test="paidTime != null"> paid_time = #{paidTime},</if>
		</set>
		WHERE
		id = #{id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		<include refid="baseColumn"/>
		from `act_activity_team_apply`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap" parameterType="com.zy.model.query.ActivityTeamApplyQueryModel">
		select
		<include refid="baseColumn"/>
		from `act_activity_team_apply`
		<where>
			<if test="buyerIdIN != null">
				<if test="buyerIdIN.length != 0">
				and buyer_id in
				<foreach collection="buyerIdIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
				</if>
				<if test="buyerIdIN.length == 0">
				and 1 = 2
				</if>
			</if>
			<if test="createTimeGTE != null">
				and create_time &gt;= #{createTimeGTE}
			</if>
			<if test="createTimeLT != null">
				and create_time &lt; #{createTimeLT}
			</if>
			<if test="paidTimeGTE != null">
				and paid_time &gt;= #{paidTimeGTE}
			</if>
			<if test="paidTimeLT != null">
				and paid_time &lt; #{paidTimeLT}
			</if>
			<if test="buyerId != null">
				and buyer_id = #{buyerId}
			</if>
			<if test="activityId != null">
				and activity_id = #{activityId}
			</if>
			<if test="paidStatus != null">
				and paid_status = #{paidStatus,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
			</if>
			<if test="activityIdIN != null">
				<if test="activityIdIN.length != 0">
				and activity_id in
				<foreach collection="activityIdIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
				</if>
				<if test="activityIdIN.length == 0">
				and 1 = 2
				</if>
			</if>
		</where>
		<choose>
			<when test="orderByAndDirection != null">
				order by ${orderByAndDirection}
			</when>
			<otherwise>
				order by
				paid_time desc
			</otherwise>
		</choose>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>

	<select id="count" resultType="_long" parameterType="com.zy.model.query.ActivityApplyQueryModel">
		select count(*) from `act_activity_team_apply`
		<where>
			<if test="buyerIdIN != null">
				<if test="buyerIdIN.length != 0">
					and buyer_id in
					<foreach collection="buyerIdIN" item="item" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test="buyerIdIN.length == 0">
					and 1 = 2
				</if>
			</if>
			<if test="createTimeGTE != null">
				and create_time &gt;= #{createTimeGTE}
			</if>
			<if test="createTimeLT != null">
				and create_time &lt; #{createTimeLT}
			</if>
			<if test="paidTimeGTE != null">
				and paid_time &gt;= #{paidTimeGTE}
			</if>
			<if test="paidTimeLT != null">
				and paid_time &lt; #{paidTimeLT}
			</if>
			<if test="buyerId != null">
				and buyer_id = #{buyerId}
			</if>
			<if test="activityId != null">
				and activity_id = #{activityId}
			</if>
			<if test="paidStatus != null">
				and paid_status = #{paidStatus,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
			</if>
			<if test="activityIdIN != null">
				<if test="activityIdIN.length != 0">
					and activity_id in
					<foreach collection="activityIdIN" item="item" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test="activityIdIN.length == 0">
					and 1 = 2
				</if>
			</if>
		</where>
	</select>

	<select id="findByActivityIdAndBuyerId" resultMap="baseResultMap">
		select
			*
		from `act_activity_team_apply`
		where activity_id = #{activityId} and buyer_id = #{buyerId}
	</select>

	<!--  -->
	<select id="findPayNumber" resultType="_long" parameterType="long">
		SELECT
			sum(a.count)
		FROM act_activity_team_apply a
		WHERE
			a.activity_id = #{activityId}
		AND a.paid_status = 1
	</select>

	<!--  -->
	<select id="findNoPayNumber" resultType="_long" parameterType="long">
		SELECT
			sum(a.count)
		FROM act_activity_team_apply a
		WHERE
			a.activity_id = #{activityId}
		AND a.paid_status = 0
	</select>

</mapper>