<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.ActivityMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.act.Activity">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="area_id" property="areaId" />
		<result column="amount" property="amount" />
		<result column="address" property="address" />
		<result column="latitude" property="latitude" />
		<result column="longitude" property="longitude" />
		<result column="image" property="image" />
		<result column="detail" property="detail" />
		<result column="apply_deadline" property="applyDeadline" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="signed_in_count" property="signedInCount" />
		<result column="collected_count" property="collectedCount" />
		<result column="applied_count" property="appliedCount" />
		<result column="viewed_count" property="viewedCount" />
		<result column="is_released" property="isReleased" />
		<result column="max_count" property="maxCount" />
		<result column="ticket_type" property="ticketType" />
		<result column="version" property="version" />
		<result column="level" property="level" />
		<result column="lesson_id" property="lessonId" />
	</resultMap>

	<sql id="baseColumn">id,title,area_id,amount,address,latitude,longitude,image,detail,apply_deadline,start_time,end_time,signed_in_count,collected_count,applied_count,viewed_count,is_released,max_count,ticket_type,version,level,lesson_id</sql>

	<insert id="insert" parameterType="com.zy.entity.act.Activity" useGeneratedKeys="true" keyProperty="id">
	  insert into `act_activity` (title,area_id,amount,address,latitude,longitude,image,detail,apply_deadline,start_time,end_time,signed_in_count,collected_count,applied_count,viewed_count,is_released,version,max_count,ticket_type,level,lesson_id,create_id,create_time)
	  values (#{title},#{areaId},#{amount},#{address},#{latitude},#{longitude},#{image},#{detail},#{applyDeadline},#{startTime},#{endTime},#{signedInCount},#{collectedCount},#{appliedCount},#{viewedCount},#{isReleased},#{version},#{maxCount},#{ticketType},#{level},#{lessonId},#{createId},#{createTime})
	</insert>

	<delete id="delete">
		delete from `act_activity` where id = #{id}
	</delete>

	<update id="update" parameterType="com.zy.entity.act.Activity">
		update `act_activity`
		<set>
			title = #{title},
			area_id = #{areaId},
			amount = #{amount},
			address = #{address},
			latitude = #{latitude},
			longitude = #{longitude},
			image = #{image},
			detail = #{detail},
			apply_deadline = #{applyDeadline},
			start_time = #{startTime},
			end_time = #{endTime},
			signed_in_count = #{signedInCount},
			collected_count = #{collectedCount},
			applied_count = #{appliedCount},
			viewed_count = #{viewedCount},
			is_released = #{isReleased},
			max_count = #{maxCount},
			ticket_type = #{ticketType},
			version = version + 1,
			level = #{level},
			lesson_id =#{lessonId},
			update_id = #{updateId},
			update_time = #{updateTime}
		</set>
		where id = #{id} and version=#{version}
	</update>

	<update id="merge">
		update `act_activity`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'title'">title = #{activity.title},</when>
					<when test="field == 'areaId'">area_id = #{activity.areaId},</when>
					<when test="field == 'amount'">amount = #{activity.amount},</when>
					<when test="field == 'address'">address = #{activity.address},</when>
					<when test="field == 'latitude'">latitude = #{activity.latitude},</when>
					<when test="field == 'longitude'">longitude = #{activity.longitude},</when>
					<when test="field == 'image'">image = #{activity.image},</when>
					<when test="field == 'detail'">detail = #{activity.detail},</when>
					<when test="field == 'applyDeadline'">apply_deadline = #{activity.applyDeadline},</when>
					<when test="field == 'startTime'">start_time = #{activity.startTime},</when>
					<when test="field == 'endTime'">end_time = #{activity.endTime},</when>
					<when test="field == 'signedInCount'">signed_in_count = #{activity.signedInCount},</when>
					<when test="field == 'collectedCount'">collected_count = #{activity.collectedCount},</when>
					<when test="field == 'appliedCount'">applied_count = #{activity.appliedCount},</when>
					<when test="field == 'viewedCount'">viewed_count = #{activity.viewedCount},</when>
					<when test="field == 'isReleased'">is_released = #{activity.isReleased},</when>
					<when test="field == 'maxCount'">max_count = #{activity.maxCount},</when>
					<when test="field == 'ticketType'">ticket_type = #{activity.ticketType},</when>
					<when test="field == 'level'">level = #{activity.level},</when>
					<when test="field == 'lessonId'">lesson_id = #{activity.lessonId},</when>
					<when test="field == 'lessonId'">update_id = #{activity.updateId},</when>
					<when test="field == 'lessonId'">update_time = #{activity.updateTime},</when>
				</choose>
				</foreach>
			</set>
		where id = #{activity.id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		<include refid="baseColumn"/>
		from `act_activity`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap" parameterType="com.zy.model.query.ActivityQueryModel">
		select
		<include refid="baseColumn"/>
		from `act_activity`
		<where>
			<if test="idIN != null">
				<if test="idIN.length != 0">
				and id in
				<foreach collection="idIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
				</if>
				<if test="idIN.length == 0">
				and 1 = 2
				</if>
			</if>
			<if test="startTimeGTE != null">
				and start_time &gt;= #{startTimeGTE}
			</if>
			<if test="titleLK != null">
				<bind name="titleLK" value="'%' + titleLK + '%'"/> and title like #{titleLK}
			</if>
			<if test="applyDeadlineGTE != null">
				and apply_deadline &gt;= #{applyDeadlineGTE}
			</if>
			<if test="areaIdIN != null">
				<if test="areaIdIN.length != 0">
				and area_id in
				<foreach collection="areaIdIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
				</if>
				<if test="areaIdIN.length == 0">
				and 1 = 2
				</if>
			</if>
			<if test="startTimeLT != null">
				and start_time &lt; #{startTimeLT}
			</if>
			<if test="applyDeadlineLT != null">
				and apply_deadline &lt; #{applyDeadlineLT}
			</if>
			<if test="isReleasedEQ != null">
				and is_released = #{isReleasedEQ}
			</if>
			<if test="areaIdEQ != null">
				and area_id = #{areaIdEQ}
			</if>
			<if test="level != null">
				and level = #{level}
			</if>
			<if test="address != null">
				<bind name="address" value="'%' + address + '%'"/> and address like #{address}
			</if>
		</where>
		<choose>
			<when test="orderByAndDirection != null">
				order by ${orderByAndDirection}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>

	<select id="findReport" resultMap="baseResultMap" parameterType="com.zy.model.query.ActivityQueryModel">
		select
		<include refid="baseColumn"/>
		from `act_activity`
		<where>
			<if test="idIN != null">
				<if test="idIN.length != 0">
				and id in
				<foreach collection="idIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
				</if>
				<if test="idIN.length == 0">
				and 1 = 2
				</if>
			</if>
			<if test="startTimeGTE != null">
				and start_time &gt;= #{startTimeGTE}
			</if>
			<if test="startTimeLT != null">
				and end_time &lt;= #{startTimeLT}
			</if>
			<if test="titleLK != null">
				<bind name="titleLK" value="'%' + titleLK + '%'"/> and title like #{titleLK}
			</if>
			<if test="applyDeadlineGTE != null">
				and apply_deadline &gt;= #{applyDeadlineGTE}
			</if>
			<if test="areaIdIN != null">
				<if test="areaIdIN.length != 0">
				and area_id in
				<foreach collection="areaIdIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
				</if>
				<if test="areaIdIN.length == 0">
				and 1 = 2
				</if>
			</if>
			<if test="applyDeadlineLT != null">
				and apply_deadline &lt; #{applyDeadlineLT}
			</if>
			<if test="isReleasedEQ != null">
				and is_released = #{isReleasedEQ}
			</if>
			<if test="areaIdEQ != null">
				and area_id = #{areaIdEQ}
			</if>
			<if test="level != null">
				and level = #{level}
			</if>
		</where>
		<choose>
			<when test="orderByAndDirection != null">
				order by ${orderByAndDirection}
			</when>
			<otherwise>
				order by start_time desc
			</otherwise>
		</choose>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>

	<select id="count" resultType="_long" parameterType="com.zy.model.query.ActivityQueryModel">
		select count(*) from `act_activity`
		<where>
			<if test="idIN != null">
				<if test="idIN.length != 0">
				and id in
				<foreach collection="idIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
				</if>
				<if test="idIN.length == 0">
				and 1 = 2
				</if>
			</if>
			<if test="startTimeGTE != null">
				and start_time &gt;= #{startTimeGTE}
			</if>
			<if test="startTimeLT != null">
				and end_time &lt;= #{startTimeLT}
			</if>
			<if test="titleLK != null">
				<bind name="titleLK" value="'%' + titleLK + '%'"/> and title like #{titleLK}
			</if>
			<if test="applyDeadlineGTE != null">
				and apply_deadline &gt;= #{applyDeadlineGTE}
			</if>
			<if test="areaIdIN != null">
				<if test="areaIdIN.length != 0">
				and area_id in
				<foreach collection="areaIdIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
				</if>
				<if test="areaIdIN.length == 0">
				and 1 = 2
				</if>
			</if>
			<if test="applyDeadlineLT != null">
				and apply_deadline &lt; #{applyDeadlineLT}
			</if>
			<if test="isReleasedEQ != null">
				and is_released = #{isReleasedEQ}
			</if>
			<if test="areaIdEQ != null">
				and area_id = #{areaIdEQ}
			</if>
			<if test="level != null">
				and level = #{level}
			</if>
		</where>
	</select>

	<update id="view">
		update `act_activity`
		set viewed_count = viewed_count + 1
		where id = #{id}
	</update>

</mapper>