<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.ActivityTicketMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.act.ActivityTicket">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="team_apply_id" property="teamApplyId" />
		<result column="code_image_url" property="codeImageUrl" />
		<result column="is_used" property="isUsed" />
	</resultMap>
	<sql id="baseColumn">id,user_id,team_apply_id,code_image_url,is_used</sql>

	<insert id="insert" parameterType="com.zy.entity.act.ActivityTicket" useGeneratedKeys="true" keyProperty="id">
	  insert into `act_activity_ticket` (user_id,team_apply_id,code_image_url,is_used)
	  values (#{userId},#{teamApplyId},#{codeImageUrl},#{isUsed})
	</insert>

	<delete id="delete">
		delete from `act_activity_ticket` where id = #{id}
	</delete>

	<update id="update" parameterType="com.zy.entity.act.ActivityTicket">
		update `act_activity_ticket`
		<set>
			user_id = #{userId},
			<if test="isUsed != null"> is_used = #{isUsed},</if>
			<if test="codeImageUrl != null"> code_image_url = #{codeImageUrl},</if>
			<if test="updateId != null"> update_id = #{updateId},</if>
			<if test="updateTime != null"> update_time = #{updateTime},</if>
		</set>
		WHERE
		id = #{id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		<include refid="baseColumn"/>
		from `act_activity_ticket`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap" parameterType="com.zy.model.query.ActivityTicketQueryModel">
		select
		<include refid="baseColumn"/>
		from `act_activity_ticket`
		<where>
			<if test="teamApplyIdIN != null">
				<if test="teamApplyIdIN.length != 0">
				and team_apply_id in
				<foreach collection="teamApplyIdIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
				</if>
				<if test="teamApplyIdIN.length == 0">
				and 1 = 2
				</if>
			</if>
			<if test="teamApplyId != null">
				and team_apply_id = #{teamApplyId}
			</if>
			<if test="userId != null">
				and user_id = #{userId}
			</if>
			<if test="isUsed != null">
				and is_used = #{isUsed}
			</if>
		</where>
		<choose>
			<when test="orderByAndDirection != null">
				order by ${orderByAndDirection}
			</when>
			<otherwise>
				order by
				id desc
			</otherwise>
		</choose>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>

	<select id="count" resultType="_long" parameterType="com.zy.model.query.ActivityTicketQueryModel">
		select count(*) from `act_activity_ticket`
		<where>
			<if test="teamApplyIdIN != null">
				<if test="teamApplyIdIN.length != 0">
					and team_apply_id in
					<foreach collection="teamApplyIdIN" item="item" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test="teamApplyIdIN.length == 0">
					and 1 = 2
				</if>
			</if>
			<if test="teamApplyId != null">
				and team_apply_id = #{teamApplyId}
			</if>
			<if test="userId != null">
				and user_id = #{userId}
			</if>
			<if test="isUsed != null">
				and is_used = #{isUsed}
			</if>
		</where>
	</select>

</mapper>