<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.AdminRoleMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.adm.AdminRole">
		<id column="id" property="id" />
		<result column="admin_id" property="adminId" />
		<result column="role_id" property="roleId" />
	</resultMap>

	<insert id="insert" parameterType="com.zy.entity.adm.AdminRole" useGeneratedKeys="true" keyProperty="id">
	  insert into `adm_admin_role` (admin_id,role_id)
	  values (#{adminId},#{roleId})
	</insert>

	<delete id="delete">
		delete from `adm_admin_role` where id = #{id}
	</delete>

	<update id="update" parameterType="com.zy.entity.adm.AdminRole">
		update `adm_admin_role`
		<set>
			admin_id = #{adminId},
			role_id = #{roleId},
		</set>
		where id = #{id}
	</update>

	<update id="merge">
		update `adm_admin_role`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'adminId'">admin_id = #{adminRole.adminId},</when>
					<when test="field == 'roleId'">role_id = #{adminRole.roleId},</when>
				</choose>
				</foreach>
			</set>
		where id = #{adminRole.id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		id,admin_id,role_id
		from `adm_admin_role`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap">
		select
		id,admin_id,role_id
		from `adm_admin_role`
		order by id desc
	</select>

	<delete id="deleteByRoleId">
		delete from `adm_admin_role` where role_id = #{roleId}
	</delete>

	<delete id="deleteByAdminId">
		delete from `adm_admin_role` where admin_id = #{adminId}
	</delete>

	<select id="findByAdminId" resultMap="baseResultMap">
		select * from `adm_admin_role`
		where admin_id = #{adminId}
	</select>

</mapper>