<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.AdminMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.adm.Admin">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="role_names" property="roleNames" />
		<result column="site_id" property="siteId" />
	</resultMap>

	<insert id="insert" parameterType="com.zy.entity.adm.Admin" useGeneratedKeys="true" keyProperty="id">
	  insert into `adm_admin` (user_id,role_names,site_id)
	  values (#{userId},#{roleNames},#{siteId})
	</insert>

	<delete id="delete">
		delete from `adm_admin` where id = #{id}
	</delete>

	<update id="update" parameterType="com.zy.entity.adm.Admin">
		update `adm_admin`
		<set>
			user_id = #{userId},
			role_names = #{roleNames},
			site_id = #{siteId},
		</set>
		where id = #{id}
	</update>

	<update id="merge">
		update `adm_admin`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'userId'">user_id = #{admin.userId},</when>
					<when test="field == 'roleNames'">role_names = #{admin.roleNames},</when>
					<when test="field == 'siteId'">site_id = #{admin.siteId},</when>
				</choose>
				</foreach>
			</set>
		where id = #{admin.id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		id,user_id,role_names,site_id
		from `adm_admin`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap" parameterType="com.zy.model.query.AdminQueryModel">
		select
		id,user_id,role_names,site_id
		from `adm_admin`
		<where>
			<if test="userIdIN != null">
				 and user_id in
				<foreach collection="userIdIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
			</if>
		</where>
		<choose>
			<when test="orderByAndDirection != null">
				order by ${orderByAndDirection}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>

	<select id="count" resultType="_long" parameterType="com.zy.model.query.AdminQueryModel">
		select count(*) from `adm_admin`
		<where>
			<if test="userIdIN != null">
				 and user_id in
				<foreach collection="userIdIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
			</if>
		</where>
	</select>

	<select id="findByUserId" resultMap="baseResultMap" parameterType="long">
		select
		*
		from `adm_admin`
		where user_id = #{userId}
	</select>

</mapper>