<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.AppearanceMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.usr.Appearance">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="realname" property="realname" />
		<result column="id_card_number" property="idCardNumber" />
		<result column="image1" property="image1" />
		<result column="image2" property="image2" />
		<result column="confirm_status" property="confirmStatus" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result column="confirm_remark" property="confirmRemark" />
		<result column="applied_time" property="appliedTime" />
		<result column="confirmed_time" property="confirmedTime" />
	</resultMap>

	<insert id="insert" parameterType="com.zy.entity.usr.Appearance" useGeneratedKeys="true" keyProperty="id">
	  insert into `usr_appearance` (user_id,realname,id_card_number,image1,image2,confirm_status,confirm_remark,applied_time,confirmed_time)
	  values (#{userId},#{realname},#{idCardNumber},#{image1},#{image2},#{confirmStatus,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{confirmRemark},#{appliedTime},#{confirmedTime})
	</insert>

	<delete id="delete">
		delete from `usr_appearance` where id = #{id}
	</delete>

	<update id="update" parameterType="com.zy.entity.usr.Appearance">
		update `usr_appearance`
		<set>
			user_id = #{userId},
			realname = #{realname},
			id_card_number = #{idCardNumber},
			image1 = #{image1},
			image2 = #{image2},
			confirm_status = #{confirmStatus,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
			confirm_remark = #{confirmRemark},
			applied_time = #{appliedTime},
			confirmed_time = #{confirmedTime},
		</set>
		where id = #{id}
	</update>

	<update id="merge">
		update `usr_appearance`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'userId'">user_id = #{appearance.userId},</when>
					<when test="field == 'realname'">realname = #{appearance.realname},</when>
					<when test="field == 'idCardNumber'">id_card_number = #{appearance.idCardNumber},</when>
					<when test="field == 'image1'">image1 = #{appearance.image1},</when>
					<when test="field == 'image2'">image2 = #{appearance.image2},</when>
					<when test="field == 'confirmStatus'">confirm_status = #{appearance.confirmStatus,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler,javaType=com.zy.entity.sys.ConfirmStatus},</when>
					<when test="field == 'confirmRemark'">confirm_remark = #{appearance.confirmRemark},</when>
					<when test="field == 'appliedTime'">applied_time = #{appearance.appliedTime},</when>
					<when test="field == 'confirmedTime'">confirmed_time = #{appearance.confirmedTime},</when>
				</choose>
				</foreach>
			</set>
		where id = #{appearance.id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		id,user_id,realname,id_card_number,image1,image2,confirm_status,confirm_remark,applied_time,confirmed_time
		from `usr_appearance`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap" parameterType="com.zy.model.query.AppearanceQueryModel">
		select
		id,user_id,realname,id_card_number,image1,image2,confirm_status,confirm_remark,applied_time,confirmed_time
		from `usr_appearance`
		<where>
			<if test="userIdEQ != null">
				 and user_id = #{userIdEQ}
			</if>
			<if test="userIdIN != null">
				 and user_id in
				<foreach collection="userIdIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
			</if>
			<if test="confirmStatusEQ != null">
				 and confirm_status = #{confirmStatusEQ,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
			</if>
		</where>
		<choose>
			<when test="orderByAndDirection != null">
				order by ${orderByAndDirection}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>

	<select id="count" resultType="_long" parameterType="com.zy.model.query.AppearanceQueryModel">
		select count(*) from `usr_appearance`
		<where>
			<if test="userIdEQ != null">
				 and user_id = #{userIdEQ}
			</if>
			<if test="userIdIN != null">
				 and user_id in
				<foreach collection="userIdIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
			</if>
			<if test="confirmStatusEQ != null">
				 and confirm_status = #{confirmStatusEQ,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
			</if>
		</where>
	</select>

	<select id="findByUserId" resultMap="baseResultMap" parameterType="long">
		select
		id,user_id,score,realname,id_card_number,id_card_image1,id_card_image2,image1,image2,image3,image4,image5,image6,applied_time,confirm_status,confirm_remark,confirmed_time
		from `act_appearance`
		where user_id = #{userId}
	</select>

</mapper>