<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.AreaMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.sys.Area">
		<id column="id" property="id" />
		<result column="area_type" property="areaType" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result column="parent_id" property="parentId" />
		<result column="name" property="name" />
		<result column="order_number" property="orderNumber" />
		<result column="code" property="code" />
	</resultMap>

	<insert id="insert" parameterType="com.zy.entity.sys.Area" useGeneratedKeys="true" keyProperty="id">
	  insert into `sys_area` (area_type,parent_id,name,order_number,code)
	  values (#{areaType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{parentId},#{name},#{orderNumber},#{code})
	</insert>

	<delete id="delete">
		delete from `sys_area` where id = #{id}
	</delete>

	<update id="update" parameterType="com.zy.entity.sys.Area">
		update `sys_area`
		<set>
			area_type = #{areaType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
			parent_id = #{parentId},
			name = #{name},
			order_number = #{orderNumber},
			code = #{code},
		</set>
		where id = #{id}
	</update>

	<update id="merge">
		update `sys_area`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'areaType'">area_type = #{area.areaType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler,javaType=com.zy.entity.sys.Area$AreaType},</when>
					<when test="field == 'parentId'">parent_id = #{area.parentId},</when>
					<when test="field == 'name'">name = #{area.name},</when>
					<when test="field == 'orderNumber'">order_number = #{area.orderNumber},</when>
					<when test="field == 'code'">code = #{area.code},</when>
				</choose>
				</foreach>
			</set>
		where id = #{area.id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		id,area_type,parent_id,name,order_number,code
		from `sys_area`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap" parameterType="com.zy.model.query.AreaQueryModel">
		select
		id,area_type,parent_id,name,order_number,code
		from `sys_area`
		<where>
			<if test="idIN != null">
				 and id in
				<foreach collection="idIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
			</if>
			<if test="parentIdEQ != null">
				 and parent_id = #{parentIdEQ}
			</if>
			<if test="areaTypeEQ != null">
				 and area_type = #{areaTypeEQ,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
			</if>
		</where>
		<choose>
			<when test="orderByAndDirection != null">
				order by ${orderByAndDirection}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>

	<select id="count" resultType="_long" parameterType="com.zy.model.query.AreaQueryModel">
		select count(*) from `sys_area`
		<where>
			<if test="idIN != null">
				 and id in
				<foreach collection="idIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
			</if>
			<if test="parentIdEQ != null">
				 and parent_id = #{parentIdEQ}
			</if>
			<if test="areaTypeEQ != null">
				 and area_type = #{areaTypeEQ,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
			</if>
		</where>
	</select>

	<select id="findAllOrderByOrderNumberAsc" resultMap="baseResultMap">
		select
		*
		from `sys_area` order by order_number asc
	</select>

	<select id="findAllOrderByCodeAsc" resultMap="baseResultMap">
		select
		*
		from `sys_area` order by code asc
	</select>

</mapper>