<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.BannerMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.cms.Banner">
		<id column="id" property="id" />
		<result column="is_released" property="isReleased" />
		<result column="image" property="image" />
		<result column="url" property="url" />
		<result column="title" property="title" />
		<result column="order_number" property="orderNumber" />
		<result column="banner_position" property="bannerPosition" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result column="is_open_blank" property="isOpenBlank" />
	</resultMap>

	<sql id="baseColumn">id,is_released,image,url,title,order_number,banner_position,is_open_blank</sql>

	<insert id="insert" parameterType="com.zy.entity.cms.Banner" useGeneratedKeys="true" keyProperty="id">
	  insert into `cms_banner` (is_released,image,url,title,order_number,banner_position,is_open_blank,create_id,create_time)
	  values (#{isReleased},#{image},#{url},#{title},#{orderNumber},#{bannerPosition,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{isOpenBlank},#{createId},#{createTime})
	</insert>

	<delete id="delete" parameterType="com.zy.entity.cms.Banner">
		update `cms_banner`
		SET update_id = #{updateId},
			update_time = #{updateTime},
			status = #{status}
		where id = #{id}
	</delete>

	<update id="update" parameterType="com.zy.entity.cms.Banner">
		update `cms_banner`
		<set>
			is_released = #{isReleased},
			image = #{image},
			url = #{url},
			title = #{title},
			order_number = #{orderNumber},
			banner_position = #{bannerPosition,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
			is_open_blank = #{isOpenBlank},
		</set>
		where id = #{id}
	</update>

	<update id="merge">
		update `cms_banner`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'isReleased'">is_released = #{banner.isReleased},</when>
					<when test="field == 'image'">image = #{banner.image},</when>
					<when test="field == 'url'">url = #{banner.url},</when>
					<when test="field == 'title'">title = #{banner.title},</when>
					<when test="field == 'orderNumber'">order_number = #{banner.orderNumber},</when>
					<when test="field == 'bannerPosition'">banner_position = #{banner.bannerPosition,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler,javaType=com.zy.entity.cms.Banner$BannerPosition},</when>
					<when test="field == 'isOpenBlank'">is_open_blank = #{banner.isOpenBlank},</when>
					<when test="field == 'updateId'">update_id = #{banner.updateId},</when>
					<when test="field == 'updateTime'">update_time = #{banner.updateTime},</when>
				</choose>
				</foreach>
			</set>
		where id = #{banner.id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		<include refid="baseColumn"/>
		from `cms_banner`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap" parameterType="com.zy.model.query.BannerQueryModel">
		select
		<include refid="baseColumn"/>
		from `cms_banner`
		<where>
			status = 1
			<if test="titleLK != null">
				<bind name="titleLK" value="'%' + titleLK + '%'"/> and title like #{titleLK}
			</if>
			<if test="bannerPositionEQ != null">
				and banner_position = #{bannerPositionEQ,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
			</if>
			<if test="isReleasedEQ != null">
				and is_released = #{isReleasedEQ}
			</if>
		</where>
		<choose>
			<when test="orderByAndDirection != null">
				order by ${orderByAndDirection}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>

	<select id="count" resultType="_long" parameterType="com.zy.model.query.BannerQueryModel">
		select count(*) from `cms_banner`
		<where>
			<if test="titleLK != null">
				<bind name="titleLK" value="'%' + titleLK + '%'"/> and title like #{titleLK}
			</if>
			<if test="bannerPositionEQ != null">
				and banner_position = #{bannerPositionEQ,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
			</if>
			<if test="isReleasedEQ != null">
				and is_released = #{isReleasedEQ}
			</if>
		</where>
	</select>

	<delete id="deleteByBannerPosition" parameterType="com.zy.entity.cms.Banner$BannerPosition">
		delete from `cms_banner` where banner_position = #{bannerPosition,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
	</delete>

</mapper>