<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.DeliveryMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.mal.Delivery">
		<id column="id" property="id" />
		<result column="order_id" property="orderId" />
		<result column="name" property="name" />
		<result column="sn" property="sn" />
		<result column="delivery_status" property="deliveryStatus" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result column="sender_area_id" property="senderAreaId" />
		<result column="sender_realname" property="senderRealname" />
		<result column="sender_phone" property="senderPhone" />
		<result column="sender_province" property="senderProvince" />
		<result column="sender_city" property="senderCity" />
		<result column="sender_district" property="senderDistrict" />
		<result column="sender_address" property="senderAddress" />
		<result column="receiver_area_id" property="receiverAreaId" />
		<result column="receiver_realname" property="receiverRealname" />
		<result column="receiver_phone" property="receiverPhone" />
		<result column="receiver_province" property="receiverProvince" />
		<result column="receiver_city" property="receiverCity" />
		<result column="receiver_district" property="receiverDistrict" />
		<result column="receiver_address" property="receiverAddress" />
	</resultMap>

	<insert id="insert" parameterType="com.zy.entity.mal.Delivery" useGeneratedKeys="true" keyProperty="id">
	  insert into `mal_delivery` (order_id,name,sn,delivery_status,sender_area_id,sender_realname,sender_phone,sender_province,sender_city,sender_district,sender_address,receiver_area_id,receiver_realname,receiver_phone,receiver_province,receiver_city,receiver_district,receiver_address)
	  values (#{orderId},#{name},#{sn},#{deliveryStatus,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{senderAreaId},#{senderRealname},#{senderPhone},#{senderProvince},#{senderCity},#{senderDistrict},#{senderAddress},#{receiverAreaId},#{receiverRealname},#{receiverPhone},#{receiverProvince},#{receiverCity},#{receiverDistrict},#{receiverAddress})
	</insert>

	<delete id="delete">
		delete from `mal_delivery` where id = #{id}
	</delete>

	<update id="update" parameterType="com.zy.entity.mal.Delivery">
		update `mal_delivery`
		<set>
			order_id = #{orderId},
			name = #{name},
			sn = #{sn},
			delivery_status = #{deliveryStatus,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
			sender_area_id = #{senderAreaId},
			sender_realname = #{senderRealname},
			sender_phone = #{senderPhone},
			sender_province = #{senderProvince},
			sender_city = #{senderCity},
			sender_district = #{senderDistrict},
			sender_address = #{senderAddress},
			receiver_area_id = #{receiverAreaId},
			receiver_realname = #{receiverRealname},
			receiver_phone = #{receiverPhone},
			receiver_province = #{receiverProvince},
			receiver_city = #{receiverCity},
			receiver_district = #{receiverDistrict},
			receiver_address = #{receiverAddress},
		</set>
		where id = #{id}
	</update>

	<update id="merge">
		update `mal_delivery`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'orderId'">order_id = #{delivery.orderId},</when>
					<when test="field == 'name'">name = #{delivery.name},</when>
					<when test="field == 'sn'">sn = #{delivery.sn},</when>
					<when test="field == 'deliveryStatus'">delivery_status = #{delivery.deliveryStatus,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler,javaType=com.zy.entity.mal.Delivery$DeliveryStatus},</when>
					<when test="field == 'senderAreaId'">sender_area_id = #{delivery.senderAreaId},</when>
					<when test="field == 'senderRealname'">sender_realname = #{delivery.senderRealname},</when>
					<when test="field == 'senderPhone'">sender_phone = #{delivery.senderPhone},</when>
					<when test="field == 'senderProvince'">sender_province = #{delivery.senderProvince},</when>
					<when test="field == 'senderCity'">sender_city = #{delivery.senderCity},</when>
					<when test="field == 'senderDistrict'">sender_district = #{delivery.senderDistrict},</when>
					<when test="field == 'senderAddress'">sender_address = #{delivery.senderAddress},</when>
					<when test="field == 'receiverAreaId'">receiver_area_id = #{delivery.receiverAreaId},</when>
					<when test="field == 'receiverRealname'">receiver_realname = #{delivery.receiverRealname},</when>
					<when test="field == 'receiverPhone'">receiver_phone = #{delivery.receiverPhone},</when>
					<when test="field == 'receiverProvince'">receiver_province = #{delivery.receiverProvince},</when>
					<when test="field == 'receiverCity'">receiver_city = #{delivery.receiverCity},</when>
					<when test="field == 'receiverDistrict'">receiver_district = #{delivery.receiverDistrict},</when>
					<when test="field == 'receiverAddress'">receiver_address = #{delivery.receiverAddress},</when>
				</choose>
				</foreach>
			</set>
		where id = #{delivery.id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		id,order_id,name,sn,delivery_status,sender_area_id,sender_realname,sender_phone,sender_province,sender_city,sender_district,sender_address,receiver_area_id,receiver_realname,receiver_phone,receiver_province,receiver_city,receiver_district,receiver_address
		from `mal_delivery`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap" parameterType="com.zy.model.query.DeliveryQueryModel">
		select
		id,order_id,name,sn,delivery_status,sender_area_id,sender_realname,sender_phone,sender_province,sender_city,sender_district,sender_address,receiver_area_id,receiver_realname,receiver_phone,receiver_province,receiver_city,receiver_district,receiver_address
		from `mal_delivery`
		<where>
			<if test="idIN != null">
				 and id in
				<foreach collection="idIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
			</if>
			<if test="nameLK != null">
				<bind name="nameLK" value="'%' + nameLK + '%'"/> and name like #{nameLK}
			</if>
			<if test="deliveryStatusEQ != null">
				 and delivery_status = #{deliveryStatusEQ,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
			</if>
			<if test="snLK != null">
				<bind name="snLK" value="'%' + snLK + '%'"/> and sn like #{snLK}
			</if>
		</where>
		<choose>
			<when test="orderByAndDirection != null">
				order by ${orderByAndDirection}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>

	<select id="count" resultType="_long" parameterType="com.zy.model.query.DeliveryQueryModel">
		select count(*) from `mal_delivery`
		<where>
			<if test="idIN != null">
				 and id in
				<foreach collection="idIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
			</if>
			<if test="nameLK != null">
				<bind name="nameLK" value="'%' + nameLK + '%'"/> and name like #{nameLK}
			</if>
			<if test="deliveryStatusEQ != null">
				 and delivery_status = #{deliveryStatusEQ,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
			</if>
			<if test="snLK != null">
				<bind name="snLK" value="'%' + snLK + '%'"/> and sn like #{snLK}
			</if>
		</where>
	</select>

	<select id="fetchOne" resultMap="baseResultMap">
		select
		 * 
		from `mal_delivery` 
		where delivery_status = 0 order by id asc limit 1
	</select>

	<select id="findBySn" resultMap="baseResultMap" parameterType="String">
		select
		 * 
		from `mal_delivery`
		where sn = #{sn}
	</select>

</mapper>