<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.HelpCategoryMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.cms.HelpCategory">
		<id column="id" property="id" />
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="created_time" property="createdTime" />
		<result column="user_type" property="userType" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result column="index_number" property="indexNumber" />
	</resultMap>

	<sql id="baseColumn">id,code,name,created_time,user_type,index_number</sql>

	<insert id="insert" parameterType="com.zy.entity.cms.HelpCategory" useGeneratedKeys="true" keyProperty="id">
	  insert into `cms_help_category` (code,name,created_time,user_type,index_number)
	  values (#{code},#{name},#{createdTime},#{userType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{indexNumber})
	</insert>

	<delete id="delete">
		delete from `cms_help_category` where id = #{id}
	</delete>

	<update id="update" parameterType="com.zy.entity.cms.HelpCategory">
		update `cms_help_category`
		<set>
			code = #{code},
			name = #{name},
			created_time = #{createdTime},
			user_type = #{userType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
			index_number = #{indexNumber},
		</set>
		where id = #{id}
	</update>

	<update id="merge">
		update `cms_help_category`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'code'">code = #{helpCategory.code},</when>
					<when test="field == 'name'">name = #{helpCategory.name},</when>
					<when test="field == 'createdTime'">created_time = #{helpCategory.createdTime},</when>
					<when test="field == 'userType'">user_type = #{helpCategory.userType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler,javaType=com.zy.entity.usr.User$UserType},</when>
					<when test="field == 'indexNumber'">index_number = #{helpCategory.indexNumber},</when>
				</choose>
				</foreach>
			</set>
		where id = #{helpCategory.id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		<include refid="baseColumn"/>
		from `cms_help_category`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap" parameterType="com.zy.model.query.HelpCategoryQueryModel">
		select
		<include refid="baseColumn"/>
		from `cms_help_category`
		<where>
			<if test="userTypeEQ != null">
				and user_type = #{userTypeEQ,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
			</if>
			<if test="codeEQ != null">
				and code = #{codeEQ}
			</if>
		</where>
		<choose>
			<when test="orderByAndDirection != null">
				order by ${orderByAndDirection}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>

	<select id="count" resultType="_long" parameterType="com.zy.model.query.HelpCategoryQueryModel">
		select count(*) from `cms_help_category`
		<where>
			<if test="userTypeEQ != null">
				and user_type = #{userTypeEQ,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
			</if>
			<if test="codeEQ != null">
				and code = #{codeEQ}
			</if>
		</where>
	</select>

	<select id="findByCode" resultMap="baseResultMap" parameterType="string">
		select *
		from `cms_help_category`
		where code = #{code}
	</select>

</mapper>