<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.JobMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.usr.Job">
		<id column="id" property="id" />
		<result column="job_name" property="jobName" />
	</resultMap>

	<sql id="baseColumn">id,job_name</sql>

	<insert id="insert" parameterType="com.zy.entity.usr.Job" useGeneratedKeys="true" keyProperty="id">
	  insert into `usr_job` (job_name)
	  values (#{jobName})
	</insert>

	<delete id="delete">
		delete from `usr_job` where id = #{id}
	</delete>

	<update id="update" parameterType="com.zy.entity.usr.Job">
		update `usr_job`
		<set>
			job_name = #{jobName},
		</set>
		where id = #{id}
	</update>

	<update id="merge">
		update `usr_job`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'jobName'">job_name = #{job.jobName},</when>
				</choose>
				</foreach>
			</set>
		where id = #{job.id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		<include refid="baseColumn"/>
		from `usr_job`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap">
		select
		<include refid="baseColumn"/>
		from `usr_job`
		order by id desc
	</select>

</mapper>