<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.LessonUserMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.star.LessonUser">
		<id column="id" property="id" />
		<result column="lesson_id" property="lessonId" />
		<result column="user_id" property="userId" />
		<result column="lesson_status" property="lessonStatus" />
		<result column="remark" property="remark" />
		<result column="create_by_id" property="createById" />
		<result column="create_date" property="createDate" />
	</resultMap>

	<sql id="baseColumn">id,lesson_id,user_id,lesson_status,remark,create_by_id,create_date</sql>

	<insert id="insert" parameterType="com.zy.entity.star.LessonUser" useGeneratedKeys="true" keyProperty="id">
	  insert into `td_lesson_user` (lesson_id,user_id,lesson_status,remark,create_by_id,create_date)
	  values (#{lessonId},#{userId},#{lessonStatus},#{remark},#{createById},#{createDate})
	</insert>

	<delete id="delete">
		delete from `td_lesson_user` where id = #{id}
	</delete>

	<update id="update" parameterType="com.zy.entity.star.LessonUser">
		update `td_lesson_user`
		<set>
			lesson_id = #{lessonId},
			user_id = #{userId},
			lesson_status = #{lessonStatus},
			remark = #{remark},
			create_by_id = #{createById},
			create_date = #{createDate},
		</set>
		where id = #{id}
	</update>

	<update id="merge">
		update `td_lesson_user`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'lessonId'">lesson_id = #{lessonUser.lessonId},</when>
					<when test="field == 'userId'">user_id = #{lessonUser.userId},</when>
					<when test="field == 'lessonStatus'">lesson_status = #{lessonUser.lessonStatus},</when>
					<when test="field == 'remark'">remark = #{lessonUser.remark},</when>
					<when test="field == 'createById'">create_by_id = #{lessonUser.createById},</when>
					<when test="field == 'createDate'">create_date = #{lessonUser.createDate},</when>
				</choose>
				</foreach>
			</set>
		where id = #{lessonUser.id}
	</update>

	<select id="findOne" resultMap="baseResultMap">
		select
		<include refid="baseColumn"/>
		from `td_lesson_user`
		where id = #{id}
	</select>

	<!-- 我的荣誉 -->
	<select id="findHonor" resultMap="baseResultMap" parameterType="long">
		SELECT
			<include refid="baseColumn"/>
		FROM
			td_lesson_user a
		WHERE a.user_id = #{loginUserId}
	</select>

	<select id="findAll" resultMap="baseResultMap" parameterType="com.zy.model.query.LessonUserQueryModel">
		select
		<include refid="baseColumn"/>
		from `td_lesson_user`
		<where>
			<if test="createDateGTE != null">
				and create_date &gt;= #{createDateGTE}
			</if>
			<if test="createByIdEQ != null">
				and create_by_id = #{createByIdEQ}
			</if>
			<if test="createDateLT != null">
				and create_date &lt; #{createDateLT}
			</if>
			<if test="lessonIdEQ != null">
				and lesson_id = #{lessonIdEQ}
			</if>
			<if test="lessonStatusEQ != null">
				and lesson_status = #{lessonStatusEQ}
			</if>
			<if test="remarkLK != null">
				<bind name="remarkLK" value="'%' + remarkLK + '%'"/> and remark like #{remarkLK}
			</if>
			<if test="userIdEQ != null">
				and user_id = #{userIdEQ}
			</if>
			<if test ="phoneLk!=null and userNameLK!=null">
				and user_id in (
				SELECT  u.id from usr_user u where
				<bind name="phoneLk" value="'%' + phoneLk + '%'"/>u.phone like #{phoneLk}
				<bind name="userNameLK" value="'%' + userNameLK + '%'"/>and  u.nickname like #{userNameLK}
				)
			</if>
			<if test ="phoneLk!=null">
				and user_id in (
				SELECT  u.id from usr_user u where
				<bind name="phoneLk" value="'%' + phoneLk + '%'"/>u.phone like #{phoneLk}
				)
			</if>
			<if test =" userNameLK!=null">
				and user_id in (
				SELECT  u.id from usr_user u where
				<bind name="userNameLK" value="'%' + userNameLK + '%'"/>u.nickname like #{userNameLK}
				)
			</if>
			<if test =" lessonNameLK!=null">
				and lesson_id in (
				SELECT  s.id from ts_lesson s where
				<bind name="lessonNameLK" value="'%' + lessonNameLK + '%'"/>  s.title like #{lessonNameLK}
				)
			</if>
		</where>
		<choose>
			<when test="orderByAndDirection != null">
				order by ${orderByAndDirection}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>

	<select id="count" resultType="_long" parameterType="com.zy.model.query.LessonUserQueryModel">
		select count(*) from `td_lesson_user`
		<where>
			<if test="createDateGTE != null">
				and create_date &gt;= #{createDateGTE}
			</if>
			<if test="createByIdEQ != null">
				and create_by_id = #{createByIdEQ}
			</if>
			<if test="createDateLT != null">
				and create_date &lt; #{createDateLT}
			</if>
			<if test="lessonIdEQ != null">
				and lesson_id = #{lessonIdEQ}
			</if>
			<if test="lessonStatusEQ != null">
				and lesson_status = #{lessonStatusEQ}
			</if>
			<if test="remarkLK != null">
				<bind name="remarkLK" value="'%' + remarkLK + '%'"/> and remark like #{remarkLK}
			</if>
			<if test="userIdEQ != null">
				and user_id = #{userIdEQ}
			</if>
			<if test ="phoneLk!=null and userNameLK!=null">
				and user_id in (
				SELECT  u.id from usr_user u where
				<bind name="phoneLk" value="'%' + phoneLk + '%'"/>u.phone like #{phoneLk}
				<bind name="userNameLK" value="'%' + userNameLK + '%'"/>and  u.nickname like #{userNameLK}
				)
			</if>
			<if test ="phoneLk!=null">
				and user_id in (
				SELECT  u.id from usr_user u where
				<bind name="phoneLk" value="'%' + phoneLk + '%'"/>u.phone like #{phoneLk}
				)
			</if>
			<if test =" userNameLK!=null">
				and user_id in (
				SELECT  u.id from usr_user u where
				<bind name="userNameLK" value="'%' + userNameLK + '%'"/>u.nickname like #{userNameLK}
				)
			</if>
			<if test =" lessonNameLK!=null">
				and lesson_id in (
				SELECT  s.id from ts_lesson s where
				 <bind name="lessonNameLK" value="'%' + lessonNameLK + '%'"/>  s.title like #{lessonNameLK}
				)
			</if>
		</where>
	</select>

</mapper>