<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.MergeV3ToV4Mapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.mergeusr.MergeV3ToV4">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="user_id" property="userId" />
		<result column="flage" property="flage" />
		<result column="create_by" property="createBy" />
		<result column="create_date" property="createDate" />
		<result column="update_by" property="updateBy" />
		<result column="update_date" property="updateDate" />
		<result column="image1" property="image1" />
		<result column="image2" property="image2" />
		<result column="del_flage" property="delFlage" />
		<result column="remark" property="remark" />
	</resultMap>

	<sql id="baseColumn">id,name,user_id,flage,create_by,create_date,update_by,update_date,image1,image2,del_flage,remark</sql>

	<insert id="insert" parameterType="com.zy.entity.mergeusr.MergeV3ToV4" useGeneratedKeys="true" keyProperty="id">
	  insert into `td_v3_to_v4` (name,user_id,flage,create_by,create_date,update_by,update_date,image1,image2,del_flage,remark)
	  values (#{name},#{userId},#{flage},#{createBy},#{createDate},#{updateBy},#{updateDate},#{image1},#{image2},#{delFlage},#{remark})
	</insert>

	<delete id="delete">
		delete from `td_v3_to_v4` where id = #{id}
	</delete>

	<update id="update" parameterType="com.zy.entity.mergeusr.MergeV3ToV4">
		update `td_v3_to_v4`
		<set>
			name = #{name},
			user_id = #{userId},
			flage = #{flage},
			create_by = #{createBy},
			create_date = #{createDate},
			update_by = #{updateBy},
			update_date = #{updateDate},
			image1 = #{image1},
			image2 = #{image2},
			del_flage = #{delFlage},
			remark = #{remark},
		</set>
		where id = #{id}
	</update>

	<update id="merge">
		update `td_v3_to_v4`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'name'">name = #{mergeV3ToV4.name},</when>
					<when test="field == 'userId'">user_id = #{mergeV3ToV4.userId},</when>
					<when test="field == 'flage'">flage = #{mergeV3ToV4.flage},</when>
					<when test="field == 'createBy'">create_by = #{mergeV3ToV4.createBy},</when>
					<when test="field == 'createDate'">create_date = #{mergeV3ToV4.createDate},</when>
					<when test="field == 'updateBy'">update_by = #{mergeV3ToV4.updateBy},</when>
					<when test="field == 'updateDate'">update_date = #{mergeV3ToV4.updateDate},</when>
					<when test="field == 'image1'">image1 = #{mergeV3ToV4.image1},</when>
					<when test="field == 'image2'">image2 = #{mergeV3ToV4.image2},</when>
					<when test="field == 'delFlage'">del_flage = #{mergeV3ToV4.delFlage},</when>
					<when test="field == 'remark'">remark = #{mergeV3ToV4.remark},</when>
				</choose>
				</foreach>
			</set>
		where id = #{mergeV3ToV4.id}
	</update>

	<select id="findOne" resultMap="baseResultMap">
		select
		<include refid="baseColumn"/>
		from `td_v3_to_v4`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap" parameterType="com.zy.model.query.MergeV3ToV4QueryModel">
		select
		<include refid="baseColumn"/>
		from `td_v3_to_v4`
		<where>
			<if test="createDateGTE != null">
				and create_date &gt;= #{createDateGTE}
			</if>
			<if test="userIdEQ != null">
				and user_id = #{userIdEQ}
			</if>
			<if test="flageEQ != null">
				and flage = #{flageEQ}
			</if>
			<if test="createByEQ != null">
				and create_by = #{createByEQ}
			</if>
			<if test="updateDateLT != null">
				and update_date &lt; #{updateDateLT}
			</if>
			<if test="delFlageEQ != null">
				and del_flage = #{delFlageEQ}
			</if>
			<if test="idIN != null">
				<if test="idIN.length != 0">
				and id in
				<foreach collection="idIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
				</if>
				<if test="idIN.length == 0">
				and 1 = 2
				</if>
			</if>
			<if test="createDateLT != null">
				and create_date &lt; #{createDateLT}
			</if>
			<if test="nameLK != null">
				<bind name="nameLK" value="'%' + nameLK + '%'"/> and name like #{nameLK}
			</if>
			<if test="updateByEQ != null">
				and update_by = #{updateByEQ}
			</if>
			<if test="remarkLK != null">
				<bind name="remarkLK" value="'%' + remarkLK + '%'"/> and remark like #{remarkLK}
			</if>
			<if test="updateDateGTE != null">
				and update_date &gt;= #{updateDateGTE}
			</if>
		</where>
		<choose>
			<when test="orderByAndDirection != null">
				order by ${orderByAndDirection}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>

	<select id="count" resultType="_long" parameterType="com.zy.model.query.MergeV3ToV4QueryModel">
		select count(*) from `td_v3_to_v4`
		<where>
			<if test="createDateGTE != null">
				and create_date &gt;= #{createDateGTE}
			</if>
			<if test="userIdEQ != null">
				and user_id = #{userIdEQ}
			</if>
			<if test="flageEQ != null">
				and flage = #{flageEQ}
			</if>
			<if test="createByEQ != null">
				and create_by = #{createByEQ}
			</if>
			<if test="updateDateLT != null">
				and update_date &lt; #{updateDateLT}
			</if>
			<if test="delFlageEQ != null">
				and del_flage = #{delFlageEQ}
			</if>
			<if test="idIN != null">
				<if test="idIN.length != 0">
				and id in
				<foreach collection="idIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
				</if>
				<if test="idIN.length == 0">
				and 1 = 2
				</if>
			</if>
			<if test="createDateLT != null">
				and create_date &lt; #{createDateLT}
			</if>
			<if test="nameLK != null">
				<bind name="nameLK" value="'%' + nameLK + '%'"/> and name like #{nameLK}
			</if>
			<if test="updateByEQ != null">
				and update_by = #{updateByEQ}
			</if>
			<if test="remarkLK != null">
				<bind name="remarkLK" value="'%' + remarkLK + '%'"/> and remark like #{remarkLK}
			</if>
			<if test="updateDateGTE != null">
				and update_date &gt;= #{updateDateGTE}
			</if>
		</where>
	</select>

</mapper>