<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.ProductMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.mal.Product">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="detail" property="detail" />
		<result column="price" property="price" />
		<result column="market_price" property="marketPrice" />
		<result column="sku_code" property="skuCode" />
		<result column="stock_quantity" property="stockQuantity" />
		<result column="locked_count" property="lockedCount" />
		<result column="is_on" property="isOn" />
		<result column="image1" property="image1" />
		<result column="image2" property="image2" />
		<result column="image3" property="image3" />
		<result column="image4" property="image4" />
		<result column="image5" property="image5" />
		<result column="image6" property="image6" />
		<result column="created_time" property="createdTime" />
	</resultMap>

	<insert id="insert" parameterType="com.zy.entity.mal.Product" useGeneratedKeys="true" keyProperty="id">
	  insert into `mal_product` (title,detail,price,market_price,sku_code,stock_quantity,locked_count,is_on,image1,image2,image3,image4,image5,image6,created_time)
	  values (#{title},#{detail},#{price},#{marketPrice},#{skuCode},#{stockQuantity},#{lockedCount},#{isOn},#{image1},#{image2},#{image3},#{image4},#{image5},#{image6},#{createdTime})
	</insert>

	<delete id="delete">
		delete from `mal_product` where id = #{id}
	</delete>

	<update id="update" parameterType="com.zy.entity.mal.Product">
		update `mal_product`
		<set>
			title = #{title},
			detail = #{detail},
			price = #{price},
			market_price = #{marketPrice},
			sku_code = #{skuCode},
			stock_quantity = #{stockQuantity},
			locked_count = #{lockedCount},
			is_on = #{isOn},
			image1 = #{image1},
			image2 = #{image2},
			image3 = #{image3},
			image4 = #{image4},
			image5 = #{image5},
			image6 = #{image6},
			created_time = #{createdTime},
		</set>
		where id = #{id}
	</update>

	<update id="merge">
		update `mal_product`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'title'">title = #{product.title},</when>
					<when test="field == 'detail'">detail = #{product.detail},</when>
					<when test="field == 'price'">price = #{product.price},</when>
					<when test="field == 'marketPrice'">market_price = #{product.marketPrice},</when>
					<when test="field == 'skuCode'">sku_code = #{product.skuCode},</when>
					<when test="field == 'stockQuantity'">stock_quantity = #{product.stockQuantity},</when>
					<when test="field == 'lockedCount'">locked_count = #{product.lockedCount},</when>
					<when test="field == 'isOn'">is_on = #{product.isOn},</when>
					<when test="field == 'image1'">image1 = #{product.image1},</when>
					<when test="field == 'image2'">image2 = #{product.image2},</when>
					<when test="field == 'image3'">image3 = #{product.image3},</when>
					<when test="field == 'image4'">image4 = #{product.image4},</when>
					<when test="field == 'image5'">image5 = #{product.image5},</when>
					<when test="field == 'image6'">image6 = #{product.image6},</when>
					<when test="field == 'createdTime'">created_time = #{product.createdTime},</when>
				</choose>
				</foreach>
			</set>
		where id = #{product.id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		id,title,detail,price,market_price,sku_code,stock_quantity,locked_count,is_on,image1,image2,image3,image4,image5,image6,created_time
		from `mal_product`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap" parameterType="com.zy.model.query.ProductQueryModel">
		select
		id,title,detail,price,market_price,sku_code,stock_quantity,locked_count,is_on,image1,image2,image3,image4,image5,image6,created_time
		from `mal_product`
		<where>
			<if test="idIN != null">
				 and id in
				<foreach collection="idIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
			</if>
			<if test="createdTimeLT != null">
				 and created_time &lt; #{createdTimeLT}
			</if>
			<if test="titleLK != null">
				<bind name="titleLK" value="'%' + titleLK + '%'"/> and title like #{titleLK}
			</if>
			<if test="isOnEQ != null">
				 and is_on = #{isOnEQ}
			</if>
			<if test="createdTimeGTE != null">
				 and created_time &gt;= #{createdTimeGTE}
			</if>
		</where>
		<choose>
			<when test="orderByAndDirection != null">
				order by ${orderByAndDirection}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>

	<select id="count" resultType="_long" parameterType="com.zy.model.query.ProductQueryModel">
		select count(*) from `mal_product`
		<where>
			<if test="idIN != null">
				 and id in
				<foreach collection="idIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
			</if>
			<if test="createdTimeLT != null">
				 and created_time &lt; #{createdTimeLT}
			</if>
			<if test="titleLK != null">
				<bind name="titleLK" value="'%' + titleLK + '%'"/> and title like #{titleLK}
			</if>
			<if test="isOnEQ != null">
				 and is_on = #{isOnEQ}
			</if>
			<if test="createdTimeGTE != null">
				 and created_time &gt;= #{createdTimeGTE}
			</if>
		</where>
	</select>

</mapper>