<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.ReportMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.act.Report">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="realname" property="realname" />
		<result column="age" property="age" />
		<result column="gender" property="gender" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result column="phone" property="phone" />
		<result column="job_id" property="jobId" />
		<result column="area_id" property="areaId" />
		<result column="tag_ids" property="tagIds" />
		<result column="report_result" property="reportResult" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result column="text" property="text" />
		<result column="image" property="image" />
		<result column="times" property="times" />
		<result column="reported_date" property="reportedDate" />
		<result column="applied_time" property="appliedTime" />
		<result column="created_time" property="createdTime" />
		<result column="pre_confirm_status" property="preConfirmStatus" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result column="pre_confirmed_time" property="preConfirmedTime" />
		<result column="confirm_status" property="confirmStatus" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result column="confirm_remark" property="confirmRemark" />
		<result column="confirmed_time" property="confirmedTime" />
		<result column="is_settled_up" property="isSettledUp" />
		<result column="is_hot" property="isHot" />
		<result column="version" property="version" />
	</resultMap>

	<insert id="insert" parameterType="com.zy.entity.act.Report" useGeneratedKeys="true" keyProperty="id">
	  insert into `act_report` (user_id,realname,age,gender,phone,job_id,area_id,tag_ids,report_result,text,image,times,reported_date,applied_time,created_time,pre_confirm_status,pre_confirmed_time,confirm_status,confirm_remark,confirmed_time,is_settled_up,is_hot,version)
	  values (#{userId},#{realname},#{age},#{gender,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{phone},#{jobId},#{areaId},#{tagIds},#{reportResult,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{text},#{image},#{times},#{reportedDate},#{appliedTime},#{createdTime},#{preConfirmStatus,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{preConfirmedTime},#{confirmStatus,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{confirmRemark},#{confirmedTime},#{isSettledUp},#{isHot},#{version})
	</insert>

	<delete id="delete">
		delete from `act_report` where id = #{id}
	</delete>

	<update id="update" parameterType="com.zy.entity.act.Report">
		update `act_report`
		<set>
			user_id = #{userId},
			realname = #{realname},
			age = #{age},
			gender = #{gender,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
			phone = #{phone},
			job_id = #{jobId},
			area_id = #{areaId},
			tag_ids = #{tagIds},
			report_result = #{reportResult,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
			text = #{text},
			image = #{image},
			times = #{times},
			reported_date = #{reportedDate},
			applied_time = #{appliedTime},
			created_time = #{createdTime},
			pre_confirm_status = #{preConfirmStatus,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
			pre_confirmed_time = #{preConfirmedTime},
			confirm_status = #{confirmStatus,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
			confirm_remark = #{confirmRemark},
			confirmed_time = #{confirmedTime},
			is_settled_up = #{isSettledUp},
			is_hot = #{isHot},
			version = version + 1,
		</set>
		where id = #{id} and version=#{version}
	</update>

	<update id="merge">
		update `act_report`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'userId'">user_id = #{report.userId},</when>
					<when test="field == 'realname'">realname = #{report.realname},</when>
					<when test="field == 'age'">age = #{report.age},</when>
					<when test="field == 'gender'">gender = #{report.gender,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler,javaType=com.zy.entity.usr.UserInfo$Gender},</when>
					<when test="field == 'phone'">phone = #{report.phone},</when>
					<when test="field == 'jobId'">job_id = #{report.jobId},</when>
					<when test="field == 'areaId'">area_id = #{report.areaId},</when>
					<when test="field == 'tagIds'">tag_ids = #{report.tagIds},</when>
					<when test="field == 'reportResult'">report_result = #{report.reportResult,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler,javaType=com.zy.entity.act.Report$ReportResult},</when>
					<when test="field == 'text'">text = #{report.text},</when>
					<when test="field == 'image'">image = #{report.image},</when>
					<when test="field == 'times'">times = #{report.times},</when>
					<when test="field == 'reportedDate'">reported_date = #{report.reportedDate},</when>
					<when test="field == 'appliedTime'">applied_time = #{report.appliedTime},</when>
					<when test="field == 'createdTime'">created_time = #{report.createdTime},</when>
					<when test="field == 'preConfirmStatus'">pre_confirm_status = #{report.preConfirmStatus,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler,javaType=com.zy.entity.sys.ConfirmStatus},</when>
					<when test="field == 'preConfirmedTime'">pre_confirmed_time = #{report.preConfirmedTime},</when>
					<when test="field == 'confirmStatus'">confirm_status = #{report.confirmStatus,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler,javaType=com.zy.entity.sys.ConfirmStatus},</when>
					<when test="field == 'confirmRemark'">confirm_remark = #{report.confirmRemark},</when>
					<when test="field == 'confirmedTime'">confirmed_time = #{report.confirmedTime},</when>
					<when test="field == 'isSettledUp'">is_settled_up = #{report.isSettledUp},</when>
					<when test="field == 'isHot'">is_hot = #{report.isHot},</when>
				</choose>
				</foreach>
			</set>
		where id = #{report.id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		id,user_id,realname,age,gender,phone,job_id,area_id,tag_ids,report_result,text,image,times,reported_date,applied_time,created_time,pre_confirm_status,pre_confirmed_time,confirm_status,confirm_remark,confirmed_time,is_settled_up,is_hot,version
		from `act_report`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap" parameterType="com.zy.model.query.ReportQueryModel">
		select
		id,user_id,realname,age,gender,phone,job_id,area_id,tag_ids,report_result,text,image,times,reported_date,applied_time,created_time,pre_confirm_status,pre_confirmed_time,confirm_status,confirm_remark,confirmed_time,is_settled_up,is_hot,version
		from `act_report`
		<where>
			<if test="preConfirmedTimeGTE != null">
				and pre_confirmed_time &gt;= #{preConfirmedTimeGTE}
			</if>
			<if test="reportedDateLT != null">
				and reported_date &lt; #{reportedDateLT}
			</if>
			<if test="userIdEQ != null">
				and user_id = #{userIdEQ}
			</if>
			<if test="confirmStatusEQ != null">
				and confirm_status = #{confirmStatusEQ,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
			</if>
			<if test="realnameLK != null">
				<bind name="realnameLK" value="'%' + realnameLK + '%'"/> and realname like #{realnameLK}
			</if>
			<if test="isSettledUpEQ != null">
				and is_settled_up = #{isSettledUpEQ}
			</if>
			<if test="createdTimeLT != null">
				and created_time &lt; #{createdTimeLT}
			</if>
			<if test="preConfirmStatusEQ != null">
				and pre_confirm_status = #{preConfirmStatusEQ,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
			</if>
			<if test="userIdIN != null">
				<if test="userIdIN.length != 0">
				and user_id in
				<foreach collection="userIdIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
				</if>
				<if test="userIdIN.length == 0">
				1 = 2
				</if>
			</if>
			<if test="realnameEQ != null">
				and realname = #{realnameEQ}
			</if>
			<if test="reportedDateGTE != null">
				and reported_date &gt;= #{reportedDateGTE}
			</if>
			<if test="reportResultEQ != null">
				and report_result = #{reportResultEQ,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
			</if>
			<if test="isHotEQ != null">
				and is_hot = #{isHotEQ}
			</if>
			<if test="phoneEQ != null">
				and phone = #{phoneEQ}
			</if>
			<if test="createdTimeGTE != null">
				and created_time &gt;= #{createdTimeGTE}
			</if>
			<if test="timesEQ != null">
				and times = #{timesEQ}
			</if>
			<if test="preConfirmedTimeLT != null">
				and pre_confirmed_time &lt; #{preConfirmedTimeLT}
			</if>
		</where>
		<choose>
			<when test="orderByAndDirection != null">
				order by ${orderByAndDirection}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>

	<select id="count" resultType="_long" parameterType="com.zy.model.query.ReportQueryModel">
		select count(*) from `act_report`
		<where>
			<if test="preConfirmedTimeGTE != null">
				and pre_confirmed_time &gt;= #{preConfirmedTimeGTE}
			</if>
			<if test="reportedDateLT != null">
				and reported_date &lt; #{reportedDateLT}
			</if>
			<if test="userIdEQ != null">
				and user_id = #{userIdEQ}
			</if>
			<if test="confirmStatusEQ != null">
				and confirm_status = #{confirmStatusEQ,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
			</if>
			<if test="realnameLK != null">
				<bind name="realnameLK" value="'%' + realnameLK + '%'"/> and realname like #{realnameLK}
			</if>
			<if test="isSettledUpEQ != null">
				and is_settled_up = #{isSettledUpEQ}
			</if>
			<if test="createdTimeLT != null">
				and created_time &lt; #{createdTimeLT}
			</if>
			<if test="preConfirmStatusEQ != null">
				and pre_confirm_status = #{preConfirmStatusEQ,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
			</if>
			<if test="userIdIN != null">
				<if test="userIdIN.length != 0">
				and user_id in
				<foreach collection="userIdIN" item="item" open="(" separator="," close=")">
				#{item}
				</foreach>
				</if>
				<if test="userIdIN.length == 0">
				1 = 2
				</if>
			</if>
			<if test="realnameEQ != null">
				and realname = #{realnameEQ}
			</if>
			<if test="reportedDateGTE != null">
				and reported_date &gt;= #{reportedDateGTE}
			</if>
			<if test="reportResultEQ != null">
				and report_result = #{reportResultEQ,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
			</if>
			<if test="isHotEQ != null">
				and is_hot = #{isHotEQ}
			</if>
			<if test="phoneEQ != null">
				and phone = #{phoneEQ}
			</if>
			<if test="createdTimeGTE != null">
				and created_time &gt;= #{createdTimeGTE}
			</if>
			<if test="timesEQ != null">
				and times = #{timesEQ}
			</if>
			<if test="preConfirmedTimeLT != null">
				and pre_confirmed_time &lt; #{preConfirmedTimeLT}
			</if>
		</where>
	</select>

	<select id="findByTaskItemId" resultMap="baseResultMap" parameterType="long">
		select
		id,user_id,task_id,task_item_id,text,image1,image2,image3,image4,image5,image6,created_time
		from `tsk_report`
		where task_item_id = #{taskItemId}
	</select>

</mapper>