<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.RolePermissionMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.adm.RolePermission">
		<id column="id" property="id" />
		<result column="permission" property="permission" />
		<result column="permission_name" property="permissionName" />
		<result column="role_id" property="roleId" />
	</resultMap>

	<sql id="baseColumn">id,permission,permission_name,role_id</sql>

	<insert id="insert" parameterType="com.zy.entity.adm.RolePermission" useGeneratedKeys="true" keyProperty="id">
	  insert into `adm_role_permission` (permission,permission_name,role_id)
	  values (#{permission},#{permissionName},#{roleId})
	</insert>

	<delete id="delete">
		delete from `adm_role_permission` where id = #{id}
	</delete>

	<update id="update" parameterType="com.zy.entity.adm.RolePermission">
		update `adm_role_permission`
		<set>
			permission = #{permission},
			permission_name = #{permissionName},
			role_id = #{roleId},
		</set>
		where id = #{id}
	</update>

	<update id="merge">
		update `adm_role_permission`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'permission'">permission = #{rolePermission.permission},</when>
					<when test="field == 'permissionName'">permission_name = #{rolePermission.permissionName},</when>
					<when test="field == 'roleId'">role_id = #{rolePermission.roleId},</when>
				</choose>
				</foreach>
			</set>
		where id = #{rolePermission.id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		<include refid="baseColumn"/>
		from `adm_role_permission`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap">
		select
		<include refid="baseColumn"/>
		from `adm_role_permission`
		order by id desc
	</select>

	<delete id="deleteByRoleId">
	delete from `adm_role_permission` where role_id = #{roleId}
</delete>

	<select id="findByRoleId" resultMap="baseResultMap">
	select * from `adm_role_permission` 
	where role_id = #{roleId}
</select>

	<select id="findByAdminId" resultMap="baseResultMap">
	select * from `adm_role_permission`
	where role_id in (select role_id from `adm_admin_role` where admin_id = #{adminId})
</select>

</mapper>