<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.ShortMessageMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.sys.ShortMessage">
		<id column="id" property="id" />
		<result column="phone" property="phone" />
		<result column="content" property="content" />
		<result column="created_time" property="createdTime" />
		<result column="ip" property="ip" />
		<result column="token" property="token" />
	</resultMap>

	<sql id="baseColumn">id,phone,content,created_time,ip,token</sql>

	<insert id="insert" parameterType="com.zy.entity.sys.ShortMessage" useGeneratedKeys="true" keyProperty="id">
	  insert into `sys_short_message` (phone,content,created_time,ip,token)
	  values (#{phone},#{content},#{createdTime},#{ip},#{token})
	</insert>

	<delete id="delete">
		delete from `sys_short_message` where id = #{id}
	</delete>

	<update id="update" parameterType="com.zy.entity.sys.ShortMessage">
		update `sys_short_message`
		<set>
			phone = #{phone},
			content = #{content},
			created_time = #{createdTime},
			ip = #{ip},
			token = #{token},
		</set>
		where id = #{id}
	</update>

	<update id="merge">
		update `sys_short_message`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'phone'">phone = #{shortMessage.phone},</when>
					<when test="field == 'content'">content = #{shortMessage.content},</when>
					<when test="field == 'createdTime'">created_time = #{shortMessage.createdTime},</when>
					<when test="field == 'ip'">ip = #{shortMessage.ip},</when>
					<when test="field == 'token'">token = #{shortMessage.token},</when>
				</choose>
				</foreach>
			</set>
		where id = #{shortMessage.id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		<include refid="baseColumn"/>
		from `sys_short_message`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap" parameterType="com.zy.model.query.ShortMessageQueryModel">
		select
		<include refid="baseColumn"/>
		from `sys_short_message`
		<where>
			<if test="createdTimeLT != null">
				and created_time &lt; #{createdTimeLT}
			</if>
			<if test="phoneEQ != null">
				and phone = #{phoneEQ}
			</if>
			<if test="createdTimeGTE != null">
				and created_time &gt;= #{createdTimeGTE}
			</if>
		</where>
		<choose>
			<when test="orderByAndDirection != null">
				order by ${orderByAndDirection}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>

	<select id="count" resultType="_long" parameterType="com.zy.model.query.ShortMessageQueryModel">
		select count(*) from `sys_short_message`
		<where>
			<if test="createdTimeLT != null">
				and created_time &lt; #{createdTimeLT}
			</if>
			<if test="phoneEQ != null">
				and phone = #{phoneEQ}
			</if>
			<if test="createdTimeGTE != null">
				and created_time &gt;= #{createdTimeGTE}
			</if>
		</where>
	</select>

</mapper>