<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.TagMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.usr.Tag">
		<id column="id" property="id" />
		<result column="tag_type" property="tagType" />
		<result column="tag_name" property="tagName" />
	</resultMap>

	<insert id="insert" parameterType="com.zy.entity.usr.Tag" useGeneratedKeys="true" keyProperty="id">
	  insert into `usr_tag` (tag_type,tag_name)
	  values (#{tagType},#{tagName})
	</insert>

	<delete id="delete">
		delete from `usr_tag` where id = #{id}
	</delete>

	<update id="update" parameterType="com.zy.entity.usr.Tag">
		update `usr_tag`
		<set>
			tag_type = #{tagType},
			tag_name = #{tagName},
		</set>
		where id = #{id}
	</update>

	<update id="merge">
		update `usr_tag`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'tagType'">tag_type = #{tag.tagType},</when>
					<when test="field == 'tagName'">tag_name = #{tag.tagName},</when>
				</choose>
				</foreach>
			</set>
		where id = #{tag.id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		id,tag_type,tag_name
		from `usr_tag`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap">
		select
		id,tag_type,tag_name
		from `usr_tag`
		order by id desc
	</select>

</mapper>