<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.TourUserMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.tour.TourUser">
		<id column="id" property="id" />
		<result column="tour_time_id" property="tourTimeId" />
		<result column="tour_id" property="tourId" />
		<result column="user_id" property="userId" />
		<result column="parent_id" property="parentId" />
		<result column="sequence_id" property="sequenceId" />
		<result column="create_date" property="createDate" />
		<result column="update_date" property="updateDate" />
		<result column="update_by" property="updateBy" />
		<result column="is_effect" property="isEffect" />
		<result column="audit_status" property="auditStatus" />
		<result column="report_id" property="reportId" />
		<result column="is_transfers" property="isTransfers" />
		<result column="car_number" property="carNumber" />
		<result column="plan_time" property="planTime" />
		<result column="car_images" property="carImages" />
		<result column="user_remark" property="userRemark" />
		<result column="reviewe_remark" property="revieweRemark" />
		<result column="house_type" property="houseType" />
		<result column="is_add_bed" property="isAddBed" />
		<!--<result column="departure_time" property="departureTime" />-->
		<result column="is_join" property="isJoin" />
		<result column="amount" property="amount" />
	</resultMap>

	<sql id="baseColumn">
		a.id,
		a.tour_time_id,
		a.tour_id,
		a.user_id,
		a.parent_id,
		a.sequence_id,
		a.create_date,
		a.update_date,
		a.update_by,
		a.is_effect,
		a.audit_status,
		a.report_id,
		a.is_transfers,
		a.car_number,
		a.plan_time,
		a.car_images,
		a.user_remark,
		a.reviewe_remark,
		a.house_type,
		a.is_add_bed,
		a.is_join,
		a.amount
	</sql>

	<!-- 查询所有旅客信息 -->
	<select id="findAll" resultMap="baseResultMap" parameterType="com.zy.model.query.TourUserQueryModel">
		SELECT
			<include refid="baseColumn"/>
		FROM ts_tour_user a
		LEFT JOIN usr_user_info b ON a.user_id = b.user_id
		LEFT JOIN usr_user_info e ON a.user_id = e.user_id
		LEFT JOIN usr_user c ON a.user_id = c.id
		LEFT JOIN usr_user d ON a.user_id = d.id
		LEFT JOIN ts_tour f ON a.tour_id = f.id
		LEFT JOIN ts_tour_time g ON a.tour_time_id = g.id
		<where>
			<if test="sequenceId !=null">
				AND  a.sequence_id = #{sequenceId}
			</if>
			<if test="reportId !=null">
				AND  a.report_id = #{reportId}
			</if>
			<if test="auditStatus !=null">
				AND a.audit_status = #{auditStatus}
			</if>
			<if test="isEffect !=null">
				AND a.is_effect = #{isEffect}
			</if>
			<if test="isTransfers !=null">
				AND a.is_transfers = #{isTransfers}
			</if>
			<if test="isJoin !=null">
				AND a.is_join = #{isJoin}
			</if>
			<if test="userName !=null">
				AND  b.realname= #{userName}
			</if>
			<if test="parentName !=null">
				AND  e.realname= #{parentName}
			</if>
			<if test="userPhone !=null">
				AND  c.phone= #{userPhone}
			</if>
			<if test="parentPhone !=null">
				AND  d.phone= #{parentPhone}
			</if>
			<if test="tourTitle !=null">
				<bind name="tourTitle" value="'%' + tourTitle + '%'"/> AND title LIKE #{tourTitle}
			</if>
			<if test="beginTime !=null">
				AND  g.begin_time &gt;= #{beginTime}
			</if>
			<if test="endTime !=null">
				AND g.end_time &lt;= #{endTime}
			</if>
			<if test="planStartTime !=null">
				AND  a.plan_time &gt;= #{planStartTime}
			</if>
			<if test="planEndTime !=null">
				AND a.plan_time &lt;= #{planEndTime}
			</if>
		</where>
		ORDER BY a.create_date DESC ,a.audit_status ASC
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>

	<select id="count" resultType="_long" parameterType="com.zy.model.query.TourUserQueryModel">
		SELECT
			count(*)
		FROM ts_tour_user a
		LEFT JOIN usr_user_info b ON a.user_id = b.user_id
		LEFT JOIN usr_user_info e ON a.user_id = e.user_id
		LEFT JOIN usr_user c ON a.user_id = c.id
		LEFT JOIN usr_user d ON a.user_id = d.id
		LEFT JOIN ts_tour f ON a.tour_id = f.id
		LEFT JOIN ts_tour_time g ON a.tour_time_id = g.id
		<where>
			<if test="sequenceId !=null">
				AND  a.sequence_id = #{sequenceId}
			</if>
			<if test="reportId !=null">
				AND  a.report_id = #{reportId}
			</if>
			<if test="auditStatus !=null">
				AND a.audit_status = #{auditStatus}
			</if>
			<if test="isEffect !=null">
				AND a.is_effect = #{isEffect}
			</if>
			<if test="userName !=null">
				AND  b.realname = #{userName}
			</if>
			<if test="parentName !=null">
				AND  e.realname = #{parentName}
			</if>
			<if test="userPhone !=null">
				AND  c.phone = #{userPhone}
			</if>
			<if test="parentPhone !=null">
				AND  d.phone = #{parentPhone}
			</if>
			<if test="tourTitle !=null">
				<bind name="tourTitle" value="'%' + tourTitle + '%'"/> AND title LIKE #{tourTitle}
			</if>
			<if test="beginTime !=null">
				AND  g.begin_time &gt;= #{beginTime}
			</if>
			<if test="endTime !=null">
				AND g.end_time &lt;= #{endTime}
			</if>
		</where>
	</select>


	<!-- 查询旅客信息 -->
	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		SELECT
			<include refid="baseColumn"/>
		FROM ts_tour_user a
		WHERE
			a.id = #{id}
	</select>

	<!-- 重置-->
	<update id="reset" parameterType="com.zy.entity.tour.TourUser">
		update ts_tour_user
		<set>
				tour_id = #{tourId},
				tour_time_id = #{tourTimeId},
				update_date = #{updateDate},
				update_by = #{updateBy}
		</set>
		where id = #{id}
	</update>

	<!-- 审核状态 -->
	<update id="updateAuditStatus" parameterType="com.zy.entity.tour.TourUser">
		update ts_tour_user
		<set>
			<if test="auditStatus !=null">
				audit_status = #{auditStatus},
			</if>
			<if test="revieweRemark !=null">
				reviewe_remark = #{revieweRemark},
			</if>
			<if test="updateDate !=null">
				update_date = #{updateDate},
			</if>
			<if test="updateBy !=null">
				update_by = #{updateBy}
			</if>
		</set>
		where id = #{id}
	</update>

	<!-- 编辑 -->
	<update id="modify" parameterType="com.zy.entity.tour.TourUser">
		update ts_tour_user
		<set>
			<if test="houseType !=null">
				house_type = #{houseType},
			</if>
			<if test="isAddBed !=null">
				is_add_bed = #{isAddBed},
			</if>
			<if test="isEffect !=null">
				is_effect = #{isEffect},
			</if>
			<if test="isTransfers !=null">
				is_transfers = #{isTransfers},
			</if>
			<if test="carNumber !=null">
				car_number = #{carNumber},
			</if>
			<if test="updateDate !=null">
				update_date = #{updateDate},
			</if>
			<if test="isJoin !=null">
				is_join = #{isJoin},
			</if>
			<if test="amount !=null">
				amount = #{amount},
			</if>
			<if test="updateBy !=null">
				update_by = #{updateBy}
			</if>
		</set>
		where id = #{id}
	</update>



</mapper>





