<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.TourTimeMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.tour.TourTime">
		<id column="id" property="id" />
		<result column="trou_id" property="trouId" />
		<result column="begin_time" property="begintime" />
		<result column="end_time" property="endtime" />
		<result column="fee" property="fee" />
		<result column="is_released" property="isreleased" />
		<result column="del_flag" property="delflag" />
		<result column="starAddress" property="starAddress" />
		<result column="create_by" property="createby" />
		<result column="update_date" property="updateTime" />
		<result column="update_by" property="updateby" />
		<result column="del_fage" property="delfage" />
	</resultMap>

	<sql id="baseColumn">id,trou_id,begin_time,end_time,fee,is_released,del_flag,starAddress,create_date,create_by,update_date,update_by</sql>

	<insert id="insert" parameterType="com.zy.entity.usr.Tag" useGeneratedKeys="true" keyProperty="id">
	  insert into `ts_tour_time` (trou_id,brief,begin_time,end_time,fee,is_released,del_flag,starAddress,create_date,create_by)
	  values (#{title},#{brief},#{days},#{isReleased},#{image},#{content},#{createdTime},#{createby})
	</insert>


</mapper>