<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.mapper.UserLogMapper" >

	<resultMap id="baseResultMap" type="com.zy.entity.usr.UserLog">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="operation" property="operation" />
		<result column="operator_id" property="operatorId" />
		<result column="operated_time" property="operatedTime" />
		<result column="remark" property="remark" />
	</resultMap>

	<insert id="insert" parameterType="com.zy.entity.usr.UserLog" useGeneratedKeys="true" keyProperty="id">
	  insert into `usr_user_log` (user_id,operation,operator_id,operated_time,remark)
	  values (#{userId},#{operation},#{operatorId},#{operatedTime},#{remark})
	</insert>

	<delete id="delete">
		delete from `usr_user_log` where id = #{id}
	</delete>

	<update id="update" parameterType="com.zy.entity.usr.UserLog">
		update `usr_user_log`
		<set>
			user_id = #{userId},
			operation = #{operation},
			operator_id = #{operatorId},
			operated_time = #{operatedTime},
			remark = #{remark},
		</set>
		where id = #{id}
	</update>

	<update id="merge">
		update `usr_user_log`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'userId'">user_id = #{userLog.userId},</when>
					<when test="field == 'operation'">operation = #{userLog.operation},</when>
					<when test="field == 'operatorId'">operator_id = #{userLog.operatorId},</when>
					<when test="field == 'operatedTime'">operated_time = #{userLog.operatedTime},</when>
					<when test="field == 'remark'">remark = #{userLog.remark},</when>
				</choose>
				</foreach>
			</set>
		where id = #{userLog.id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		id,user_id,operation,operator_id,operated_time,remark
		from `usr_user_log`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap">
		select
		id,user_id,operation,operator_id,operated_time,remark
		from `usr_user_log`
		order by id desc
	</select>

</mapper>