<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="504错误">

<title>504错误</title>

<link rel="shortcut icon" href="http://state.zhi-you.net/favicon.ico" />
<link rel="stylesheet" href="http://state.zhi-you.net/css/common.css" />
<link rel="stylesheet" href="http://state.zhi-you.net/css/components.css" />
<link rel="stylesheet" href="http://state.zhi-you.net/css/custom.css" />
<link rel="stylesheet" href="http://state.zhi-you.net/css/icon.css" />
<link rel="stylesheet" href="http://state.zhi-you.net/plugin/font-awesome-4.6.3/css/font-awesome.min.css" />
<script src="http://state.zhi-you.net/plugin/fastclick-1.0/fastclick.js "></script>
<script src="http://state.zhi-you.net/js/common.js"></script>
<link href="http://state.zhi-you.net/css/error.css" rel="stylesheet" />
</head>

<body>
  <header class="header">
    <h1>出错啦</h1>
    <a href="javascript:history.back();" class="button-left"><i class="fa fa-angle-left"></i></a>
  </header>

  <section class="error">
    <i class="error-icon font-orange fa fa-exclamation-triangle"></i>
    <div class="error-status">504</div>
    <div class="error-info">
      <p class="font-orange fs-16">系统维护中</p>
      <p>抱歉，服务器正在升级，请稍后重试.</p>
    </div>
  </section>
</body>
</html>