<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:consumer cluster="failfast" timeout="10000"/>

    <dubbo:reference id="adminService" interface="com.zy.service.AdminService" protocol="dubbo"/>
    <dubbo:reference id="areaService" interface="com.zy.service.AreaService" protocol="dubbo"/>
    <dubbo:reference id="accountService" interface="com.zy.service.AccountService" protocol="dubbo"/>
    <dubbo:reference id="accountLogService" interface="com.zy.service.AccountLogService" protocol="dubbo"/>
    <dubbo:reference id="bannerService" interface="com.zy.service.BannerService" protocol="dubbo"/>
    <dubbo:reference id="messageService" interface="com.zy.service.MessageService" protocol="dubbo"/>
    <dubbo:reference id="noticeService" interface="com.zy.service.NoticeService" protocol="dubbo"/>
    <dubbo:reference id="roleService" interface="com.zy.service.RoleService" protocol="dubbo"/>
    <dubbo:reference id="shortMessageService" interface="com.zy.service.ShortMessageService" protocol="dubbo"/>
    <dubbo:reference id="userService" interface="com.zy.service.UserService" protocol="dubbo"/>
    <dubbo:reference id="articleService" interface="com.zy.service.ArticleService" protocol="dubbo"/>
    <dubbo:reference id="depositService" interface="com.zy.service.DepositService" protocol="dubbo"/>
    <dubbo:reference id="withdrawService" interface="com.zy.service.WithdrawService" protocol="dubbo"/>
    <dubbo:reference id="orderService" interface="com.zy.service.OrderService" protocol="dubbo"/>
    <dubbo:reference id="orderItemService" interface="com.zy.service.OrderItemService" protocol="dubbo"/>
    <dubbo:reference id="productService" interface="com.zy.service.ProductService" protocol="dubbo"/>
    <dubbo:reference id="profitService" interface="com.zy.service.ProfitService" protocol="dubbo"/>
    <dubbo:reference id="settingService" interface="com.zy.service.SettingService" protocol="dubbo"/>
    <dubbo:reference id="feedbackService" interface="com.zy.service.FeedbackService" protocol="dubbo"/>
    <dubbo:reference id="addressService" interface="com.zy.service.AddressService" protocol="dubbo"/>
    <dubbo:reference id="config" interface="com.zy.Config" protocol="dubbo"/>
    <dubbo:reference id="bankCardService" interface="com.zy.service.BankCardService" protocol="dubbo"/>
    <dubbo:reference id="paymentService" interface="com.zy.service.PaymentService" protocol="dubbo"/>
    <dubbo:reference id="giftService" interface="com.zy.service.GiftService" protocol="dubbo"/>
    <dubbo:reference id="helpCategoryService" interface="com.zy.service.HelpCategoryService" protocol="dubbo"/>
    <dubbo:reference id="helpService" interface="com.zy.service.HelpService" protocol="dubbo"/>
    <dubbo:reference id="userInfoService" interface="com.zy.service.UserInfoService" protocol="dubbo"/>
    <dubbo:reference id="reportService" interface="com.zy.service.ReportService" protocol="dubbo"/>
    <dubbo:reference id="userSettingService" interface="com.zy.service.UserSettingService" protocol="dubbo"/>
    <dubbo:reference id="tagService" interface="com.zy.service.TagService" protocol="dubbo"/>
    <dubbo:reference id="jobService" interface="com.zy.service.JobService" protocol="dubbo"/>
    <dubbo:reference id="activityService" interface="com.zy.service.ActivityService" protocol="dubbo"/>
    <dubbo:reference id="activityCollectService" interface="com.zy.service.ActivityCollectService" protocol="dubbo"/>
    <dubbo:reference id="activityApplyService" interface="com.zy.service.ActivityApplyService" protocol="dubbo"/>
    <dubbo:reference id="activitySignInService" interface="com.zy.service.ActivitySignInService" protocol="dubbo"/>
    <dubbo:reference id="bankService" interface="com.zy.service.BankService" protocol="dubbo"/>
    <dubbo:reference id="userUpgradeService" interface="com.zy.service.UserUpgradeService" protocol="dubbo"/>
    <dubbo:reference id="transferService" interface="com.zy.service.TransferService" protocol="dubbo"/>
    <dubbo:reference id="policyService" interface="com.zy.service.PolicyService" protocol="dubbo"/>
    <dubbo:reference id="policyCodeService" interface="com.zy.service.PolicyCodeService" protocol="dubbo"/>
    <dubbo:reference id="reportVisitLogService" interface="com.zy.service.ReportVisitedLogService" protocol="dubbo"/>
    <dubbo:reference id="orderFillUserService" interface="com.zy.service.OrderFillUserService" protocol="dubbo"/>
</beans>
