@charset "utf-8";
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { margin: 0; padding: 0; }
body { font-family:"Microsoft YaHei";background: #fff; font-size: 26px; color: #151515; margin: 0; padding: 0; }
img { border: 0 none; vertical-align: top; display:inline-block; -ms-interpolation-mode: bicubic; image-rendering:optimizeQuality; }
button { cursor: pointer; border:0 none; }
input{ border:0 none; background:transparent; }
textarea{ resize: none; border:0 none; }
ul, li { list-style-type: none; }
table{ border-collapse:collapse; border-spacing:0; }
i, em, cite { font-style: normal; }
p{word-wrap:break-word; }
body, input, select, button,textarea{ outline: none; }
a { display:block; }
a,input,textarea,p,span,h2,em,li,div{text-decoration: none; }
input,textarea{font-family:"Microsoft YaHei"}
.clearfloat:before, .clearfloat:after {
	content:"";  display:table;
}
.clearfloat:after{
	clear:both;  overflow:hidden;
}
.clearfloat{
    zoom:1;
}
.bgSum {
	width:100%;
	height:120px;
	background: url("bgSum.png") top center ;
	background-size: cover;
	padding: 30px;
	padding-top: 20px;
}
.bgSum p {
	width: 100%;
	font-size: 16px !important;
	margin-bottom:10px;
	color: #909192;
}
.bgSum p.percent {
	width: 45%;
	float: left;
	font-size: 16px !important;
	margin-bottom:10px;
	color: #909192;
}
.bgSum p.last {
	margin-left:10%;
}
.bgSum p span {
	float:right;
	color: #49494a;
	font-size: 16px !important;
}
.bgSum p span.percentNum {
	margin-right: 10px;
}
#echartFir {
	margin-top:20px;
	padding: 10px;
	width:100%;
	height:300px;
	color: #49494a;
}
.all {
	position: relative;
	padding:10px 15px 0 15px;
}
.all img {
	width:100%;
	height:135px;
}
.percentNum {
	height:135px;
	position: absolute;
	top:20px;
	left:15px;
}
.percentNumDiv {
	width:100%;
	height:60px;
	border-bottom: 1px solid #333;
}