.account{
  background-color: #e9eaed;  
}
.account .header {
  background-color: #666d79;
}
.account-nav {
  background-color: #666d79;
}
.account-nav div {
  color: #fff;
}
.account-nav .icon {
  width: 36px; height: 36px;
}


.account-link {
  
}
.account-link a {
  float: left; padding-top: 15px; padding-bottom: 15px;
  display: block; width: 33.333333%;
  text-align: center;
}
.account-link a .icon {
  width: 24px; height: 24px;
}