
.account-list .list-title {
  color: #333; font-size: 14px; line-height: 36px;
}
.account-list .list-group .list-item {
  padding: 0; overflow:hidden
}
.account-list .list-group .list-item:active {
  background-color: #fff;
}
.account-list .account {
  padding: 15px;
  float: left; width: 25%;
}
.account-list .account > i {
  margin: 0 auto;
  display: block;
}
.account-list .account > span {
  margin: 0 auto;
  display: block;
  color: #999; font-size: 12px; text-align: center; line-height: 30px;
}
.account-list .account > div {
  margin: 5px auto 0; overflow: hidden;
  display: block; height: 40px;
  color: #333; font-size: 14px; text-align: center; line-height: 20px;
}
.account-list .account > div > span {
  margin-left: 5px;
  display: block;
  color: #f0732f; font-size: 11px; line-height: 20px;
}
.account-list .account-add {
  float: left; padding: 30px 15px 20px;
  width: 25%; height: 146px;
  text-align: center;
}
.account-list .account-add > i {
  color: #eee; font-size: 48px;
}
.account-list .account-add > div {
  margin-top: 20px;
  color: #aaa; font-size: 12px;
}


.account-create .account-type > div {
  float: left; padding: 10px;
  text-align: center; cursor: pointer;
  border: 1px solid transparent;
  border-bottom: 2px solid transparent;
}
.account-create .account-type > div.checked {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-bottom: 2px solid #f0732f;
}
.account-create .account-type > div > i {
  
}
.account-create .account-type > div > span {
  display: block;
  color: #999; font-size: 11px; line-height: 16px;
}
.account-create .account-type > div.checked > span {
  color: #f0732f;
}

