body{
  background-color: #f5f4f4 !important;
}
body.bg{
  background-color: #ffcfb9 !important;
}
body.gray-bg{
  background-color: #dcdcdc !important;
}
body.gray-bg p{
  color: #666;
}
body.gray-bg p span{
  color: #333;
}


.achievement-ul li{
  position: relative;
  float: left;
  width: 33.3%; height: 145px;
  padding: 30px 0;
  text-align: center;
}
.achievement-ul li img{
  width: 85px; height: 85px;
}
.achievement-bdr{
  position: absolute; top:40px; right: 0;
  height: 65px; width: 1px;
  border-right: 1px solid #ddd;
}
.achievement-bdb{
  position: absolute; bottom: 1px; left: 25%;
  height: 1px; width: 50%;
  border-bottom: 1px solid #ddd;
}


/* 成就详情  */
.achievement-wrap{
   position: relative;
   width: 100%; height: auto;
}
.achievement-bg{
  width: 100%; 
} 
.achievement-img{
  position: absolute;
  top: 20%; left: 35%;
  width: 30%;
  z-index: 9;
}
.purpose{
  position: absolute;
  top: 67%; left: 0%;
  width: 100%;
  font-size: 18px; color: #000; text-align: center;
}
.award{
  position: absolute;
  top: 89%; left: 0%;
  width: 100%;
  font-size: 18px; color: #000; text-align: center;
}
.award span{
  color: #f0732f;
  margin-right: 5px;
}


