.bank-list .header {
  background-color: #555;
}
.bank-list {
  background-color: #555;
}
.bank-list .list-item-add {
  background-color: #666;
}
.bank-list .list-item-add .list-arrow {
  border-color: #aaa;
}

.bank-list .bank {
  position: relative; display: block;
  padding: 10px 30px 10px 20px; margin: 10px 10px 0 10px;
  color: #fff; background-color: #ed5f77;
}
.bank-list .bank .bank-icon {
  position: absolute; padding: 5px;
  width: 40px; height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
}
.bank-list .bank .bank-icon > i {
  width: 30px; height: 30px;
}
.bank-list .bank .bank-info {
  margin-left: 50px;
}

