.log-list .list-item {
  position: relative; padding: 10px 15px 10px 20px;
}
.log-list .list-item .title {
  margin-right: 100px;
}
.log-list .list-item .inout {
  position: absolute; right: 15px; top: 10px;
  width: 100px;
}