/* table */
table.table-form-dialog {
  width: 100%; word-break: break-all;
}

table.table-form-dialog th {
  width: 130px; padding: 5px 10px; line-height: 20px; font-weight: normal; text-align: right; white-space: nowrap;
  border-bottom: 1px solid #ebebeb; background-color: #fafafa; vertical-align: middle;
}

table.table-form-dialog td {
  line-height: 20px; padding: 5px 8px; border-bottom: 1px solid #ebebeb;
}

table.table-form-dialog tr:hover th {
  background-color: #f0f0f0;
}

table.table-form-dialog .title th,table.table-form-dialog .title td {
  text-align: left; padding-left: 5px; background-color: #f8f8f8;
}

table.table-form-dialog .fieldTitle {
  height: 29px; line-height: 29px; padding-right: 5px;
}

table.table-form-dialog .buttonbar td {
  text-align: left; padding: 4px 8px;border-bottom: 1px solid #ebebeb;
}
