.icon {
  display: inline-block; display: -moz-inline-stack; *zoom: 1; *display: inline;
  width: 16px; height: 16px; margin-right: 3px; line-height: 16px; vertical-align: middle;
}

.icon-app {
  background: url('../image/icon/app.gif') no-repeat left center;
}

.icon-blank {
  background: url('../image/icon/blank.gif') no-repeat left center;
}

.icon-add {
  background: url('../image/icon/add.gif') no-repeat left center;
}

.icon-delete {
  background: url('../image/icon/minus.gif') no-repeat left center;
}

.icon-user {
  background: url('../image/icon/user.gif') no-repeat left center;
}

.icon-users {
  background: url('../image/icon/users.gif') no-repeat left center;
}

.icon-user-female {
  background: url('../image/icon/user_female.gif') no-repeat left center;
}

.icon-chart-bar {
  background: url('../image/icon/chart_bar.gif') no-repeat left center;
}

.icon-comments {
  background: url('../image/icon/comments.gif') no-repeat left center;
}

.icon-user-comment {
  background: url('../image/icon/user_comment.gif') no-repeat left center;
}

.icon-tag {
  background: url('../image/icon/tag.gif') no-repeat left center;
}

.icon-config {
  background: url('../image/icon/config.gif') no-repeat left center;
}

.icon-view {
  background: url('../image/icon/view.gif') no-repeat left center;
}

.icon-detail {
  background: url('../image/icon/detail.gif') no-repeat left center;
}

.icon-grid {
  background: url('../image/icon/grid.gif') no-repeat left center;
}

.icon-edit {
  background: url('../image/icon/edit.gif') no-repeat left center;
}

.icon-remove {
  background: url('../image/icon/remove.gif') no-repeat left center;
}

.icon-save {
  background: url('../image/icon/save.gif') no-repeat left center;
}

.icon-cut {
  background: url('../image/icon/cut.png') no-repeat left center;
}

.icon-ok {
  background: url('../image/icon/ok.gif') no-repeat left center;
}

.icon-no {
  background: url('../image/icon/no.gif') no-repeat left center;
}

.icon-cancel {
  background: url('../image/icon/cancel.gif') no-repeat left center;
}

.icon-reload {
  background: url('../image/icon/reload.gif') no-repeat left center;
}

.icon-upload {
  background: url('../image/icon/upload.gif') no-repeat left center;
}

.icon-download {
  background: url('../image/icon/download.gif') no-repeat left center;
}

.icon-search {
  background: url('../image/icon/search.gif') no-repeat left center;
}

.icon-print {
  background: url('../image/icon/print.gif') no-repeat left center;
}

.icon-mail {
  background: url('../image/icon/mail.gif') no-repeat left center;
}

.icon-help {
  background: url('../image/icon/help.gif') no-repeat left center;
}

.icon-conment {
  background: url('../image/icon/conment.gif') no-repeat left center;
}

.icon-error {
  background: url('../image/icon/error.gif') no-repeat left center;
}

.icon-info {
  background: url('../image/icon/info.gif') no-repeat left center;
}

.icon-loading {
  background: url('../image/icon/loading.gif') no-repeat left center;
}

.icon-lock {
  background: url('../image/icon/lock.gif') no-repeat left center;
}

.icon-new {
  background: url('../image/icon/new.gif') no-repeat left center;
}

.icon-print {
  background: url('../image/icon/print.gif') no-repeat left center;
}

.icon-file {
  background: url('../image/icon/file.gif') no-repeat left center;
}

.icon-folder {
  background: url('../image/icon/folder.gif') no-repeat left center;
}

.icon-xls {
  background: url('../image/icon/xls.gif') no-repeat left center;
}

.icon-phone {
  background: url('../image/icon/phone.gif') no-repeat left center;
}

.icon-theme {
  background: url('../image/icon/theme.gif') no-repeat left center;
}

.icon-vcard {
  background: url('../image/icon/vcard.gif') no-repeat left center;
}

.icon-wrench {
  background: url('../image/icon/wrench.gif') no-repeat left center;
}

.icon-feed {
  background: url('../image/icon/feed.gif') no-repeat left center;
}

.icon-prop {
  background: url('../image/icon/prop.gif') no-repeat left center;
}

.icon-map {
  background: url('../image/icon/map.gif') no-repeat left center;
}

.icon-albums {
  background: url('../image/icon/albums.gif') no-repeat left center;
}

.icon-img {
  background: url('../image/icon/img.gif') no-repeat left center;
}

.icon-zip {
  background: url('../image/icon/zip.gif') no-repeat left center;
}

/* 文件 */
.icon-file-folder {
  background: url('../image/icon/file/folder.gif') no-repeat left center;
}

.icon-file-file {
  background: url('../image/icon/file/file.gif') no-repeat left center;
}

.icon-file-rar {
  background: url('../image/icon/file/rar.gif') no-repeat left center;
}

.icon-file-zip {
  background: url('../image/icon/file/zip.gif') no-repeat left center;
}

.icon-file-txt {
  background: url('../image/icon/file/txt.gif') no-repeat left center;
}

.icon-file-jpg, .icon-file-jpeg {
  background: url('../image/icon/file/jpg.gif') no-repeat left center;
}

.icon-file-png {
  background: url('../image/icon/file/png.gif') no-repeat left center;
}

.icon-file-gif {
  background: url('../image/icon/file/gif.gif') no-repeat left center;
}

.icon-file-bmp {
  background: url('../image/icon/file/bmp.gif') no-repeat left center;
}

.icon-file-pdf {
  background: url('../image/icon/file/pdf.gif') no-repeat left center;
}

.icon-file-doc {
  background: url('../image/icon/file/doc.gif') no-repeat left center;
}

.icon-file-xls {
  background: url('../image/icon/file/xls.gif') no-repeat left center;
}

.icon-file-ppt {
  background: url('../image/icon/file/ppt.gif') no-repeat left center;
}

.icon-file-docx {
  background: url('../image/icon/file/docx.gif') no-repeat left center;
}

.icon-file-xlsx {
  background: url('../image/icon/file/xlsx.gif') no-repeat left center;
}

.icon-file-pptx {
  background: url('../image/icon/file/pptx.gif') no-repeat left center;
}

.icon-file-htm {
  background: url('../image/icon/file/htm.gif') no-repeat left center;
}

.icon-file-xml {
  background: url('../image/icon/file/xml.gif') no-repeat left center;
}

.icon-file-swf {
  background: url('../image/icon/file/swf.gif') no-repeat left center;
}

.icon-file-mp3 {
  background: url('../image/icon/file/mp3.gif') no-repeat left center;
}

.icon-file-mp4 {
  background: url('../image/icon/file/mp4.gif') no-repeat left center;
}

.icon-file-wav {
  background: url('../image/icon/file/wav.gif') no-repeat left center;
}

.icon-file-wmv {
  background: url('../image/icon/file/wmv.gif') no-repeat left center;
}

.icon-file-avi {
  background: url('../image/icon/file/avi.gif') no-repeat left center;
}
/** ICON **/

.icon-plat {
  display: inline-block; width: 16px; height: 16px;
  margin-left: 3px; margin-right: 3px;
  vertical-align: -3px;
  background-image: url(../image/icon_plat.png); background-repeat: no-repeat;
}
.icon-plat-jd {background-position: -0px 0px;}
.icon-plat-alibaba {background-position: -22px 0px;}
.icon-plat-tmall {background-position: -43px 0px;}
.icon-plat-qq {background-position: -65px 0px;}
.icon-plat-amazon {background-position: -86px 0px;}
.icon-plat-dangdang {background-position: -108px 0px;}
.icon-plat-yhd {background-position: -129px 0px;}
.icon-plat-meilishuo {background-position: -151px 0px;}
.icon-plat-mogujie {background-position: -172px 0px;}
.icon-plat-taobao {background-position: -216px 0px;}
.icon-plat-suning {background-position: -239px 0px;}
.icon-plat-guomei {background-position: -261px 0px;}
.icon-plat-jumei {background-position: -283px 0px;}

