<?xml version="1.0" encoding="UTF-8"?>
<configuration
		xmlns="http://ch.qos.logback/xml/ns/logback/"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback/  http://static.1024ke.com/file/logback.xsd">
	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
	<property file="${user.home}/gc.properties"/>
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 日志输出编码 -->
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/gc-service-impl/gc-service-impl.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.gc" level="DEBUG"/>

	<!-- 日志输出级别 -->
	<root level="INFO">
		<appender-ref ref="${log.appender}"/>
	</root>

</configuration>