/* article-list */
.article {
  float: left; margin: 15px 0 0 2.8%;
  display: block; width: 45.8%;
  background-color: #fff;
}
.article .image-box {
  position: relative; padding-top: 60%; overflow: hidden;
  display: block; width: 100%;
}
.article .image-box img {
  display: block; height: 100%; margin: 0 auto;
  background: #efefef url("../image/image_placeholder.jpg") no-repeat scroll center center;
}