/* 购物车 */
body {
  background: #f0f2f5;
}
.cart-list{
}
.cart-list .cart-item {
  position: relative; margin-top: 10px;
  background: #fff; overflow: hidden;
}
.cart-list .image-wrap {
  position: absolute; left: 10px; top: 10px;
  display: block; width: 80px; height: 80px;
  border: 1px solid #e3e5e9;
}
.cart-list .product-info {
  padding: 10px 10px 10px 100px;
  height: 100px; width: 100%; 
}
.cart-list .product-name {
  height: 32px; overflow: hidden;
  color: #555; font-size: 12px; line-height: 16px;
}
.cart-list .product-price {
  color: #f23030; font-size: 14px; line-height: 18px;
}
.cart-list .options {
  height: 30px;
}
.cart-list .product-quantity {
  float: left;
}
.cart-list .option-btns {
  float: right;
}
.cart-list .option-btns a {
  float: right; padding: 0 10px;
  display: block; height: 14px;
  color: #232326; font-size: 12px; line-height: 14px;
}
.cart-list .option-btns a.btn-remove{
  color: #81838e;
  border-right: solid 1px #e3e5e9;
}
.cart-list .quantity-num {
  line-height: 24px;
}
.cart-list .quantity-num::before {
  content: "×";
}
.cart-list .edit-off .quantity-num,
.cart-list .edit-off .btn-edit {
  display: block;
}
.cart-list .edit-on .quantity-num,
.cart-list .edit-on .btn-edit {
  display: none !important;
}
.cart-list .edit-off .quantity-wrap,
.cart-list .edit-off .btn-ok,
.cart-list .edit-off .btn-remove {
  display: none !important;
}
.cart-list .edit-on .quantity-wrap,
.cart-list .edit-off .btn-ok,
.cart-list .edit-off .btn-remove {
  display: block;
}

.cart-total {
  color: #232326; font-size: 14px; line-height: 48px;
}
a.btn-submit{
  display: block;
  color: #fff; font-size: 16px; line-height: 48px;
  background-color: #f15353;
}
a.btn-submit.disabled {
  color: #8d98a3 !important;
  background-color: #dddfe3;
}


.quantity-wrap {
  float: right;
  width: 86px; height: 26px;
  border: 1px solid #999;
}
.quantity-wrap i {
  float: left; width: 24px;
  color: #333; line-height: 26px; text-align: center;
  cursor: pointer;
}
.quantity-wrap i.disabled {
  color: #bbb; cursor: default;
}
.quantity-wrap input {
  float: left; width: 36px; height: 24px;
  color: #333; line-height: 22px;
  border: none; border-left: 1px solid #999; border-right: 1px solid #777;
}