<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gc.mapper.ArticleCategoryMapper" >

	<resultMap id="baseResultMap" type="com.gc.entity.cms.ArticleCategory">
		<id column="id" property="id" />
		<result column="parent_id" property="parentId" />
		<result column="is_top_parent" property="isTopParent" />
		<result column="name" property="name" />
		<result column="index_number" property="indexNumber" />
		<result column="created_time" property="createdTime" />
		<result column="is_visiable" property="isVisiable" />
	</resultMap>

	<insert id="insert" parameterType="com.gc.entity.cms.ArticleCategory" useGeneratedKeys="true" keyProperty="id">
	  insert into `cms_article_category` (parent_id,is_top_parent,name,index_number,created_time,is_visiable)
	  values (#{parentId},#{isTopParent},#{name},#{indexNumber},#{createdTime},#{isVisiable})
	</insert>

	<delete id="delete">
		delete from `cms_article_category` where id = #{id}
	</delete>

	<update id="update" parameterType="com.gc.entity.cms.ArticleCategory">
		update `cms_article_category`
		<set>
			parent_id = #{parentId},
			is_top_parent = #{isTopParent},
			name = #{name},
			index_number = #{indexNumber},
			created_time = #{createdTime},
			is_visiable = #{isVisiable},
		</set>
		where id = #{id}
	</update>

	<update id="merge">
		update `cms_article_category`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'parentId'">parent_id = #{articleCategory.parentId},</when>
					<when test="field == 'isTopParent'">is_top_parent = #{articleCategory.isTopParent},</when>
					<when test="field == 'name'">name = #{articleCategory.name},</when>
					<when test="field == 'indexNumber'">index_number = #{articleCategory.indexNumber},</when>
					<when test="field == 'createdTime'">created_time = #{articleCategory.createdTime},</when>
					<when test="field == 'isVisiable'">is_visiable = #{articleCategory.isVisiable},</when>
				</choose>
				</foreach>
			</set>
		where id = #{articleCategory.id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		id,parent_id,is_top_parent,name,index_number,created_time,is_visiable
		from `cms_article_category`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap" parameterType="com.gc.model.query.ArticleCategoryQueryModel">
		select
		id,parent_id,is_top_parent,name,index_number,created_time,is_visiable
		from `cms_article_category`
		<where>
			<if test="isVisiableEQ != null">
				 and is_visiable = #{isVisiableEQ}
			</if>
			<if test="parentIdEQ != null">
				 and parent_id = #{parentIdEQ}
			</if>
			<if test="isTopParentEQ != null">
				 and is_top_parent = #{isTopParentEQ}
			</if>
		</where>
		<choose>
			<when test="orderByAndDirection != null">
				order by ${orderByAndDirection}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>

	<select id="count" resultType="_long" parameterType="com.gc.model.query.ArticleCategoryQueryModel">
		select count(*) from `cms_article_category`
		<where>
			<if test="isVisiableEQ != null">
				 and is_visiable = #{isVisiableEQ}
			</if>
			<if test="parentIdEQ != null">
				 and parent_id = #{parentIdEQ}
			</if>
			<if test="isTopParentEQ != null">
				 and is_top_parent = #{isTopParentEQ}
			</if>
		</where>
	</select>

	<select id="findAllVisiable" resultMap="baseResultMap" parameterType="boolean">
		select *
		from `cms_article_category`
		<where>
			is_visiable = 1
			<if test="_parameter == true">
				 and parent_id is null
			</if>
			<if test="_parameter == false">
				 and parent_id is not null
			</if>
		</where>
	</select>

</mapper>