<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gc.mapper.RoleMapper" >

	<resultMap id="baseResultMap" type="com.gc.entity.adm.Role">
		<id column="id" property="id" />
		<result column="name" property="name" />
	</resultMap>

	<insert id="insert" parameterType="com.gc.entity.adm.Role" useGeneratedKeys="true" keyProperty="id">
	  insert into `adm_role` (name)
	  values (#{name})
	</insert>

	<delete id="delete">
		delete from `adm_role` where id = #{id}
	</delete>

	<update id="update" parameterType="com.gc.entity.adm.Role">
		update `adm_role`
		<set>
			name = #{name},
		</set>
		where id = #{id}
	</update>

	<update id="merge">
		update `adm_role`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'name'">name = #{role.name},</when>
				</choose>
				</foreach>
			</set>
		where id = #{role.id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		id,name
		from `adm_role`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap" parameterType="com.gc.model.query.RoleQueryModel">
		select
		id,name
		from `adm_role`
		<where>
			<if test="nameLK != null">
				<bind name="nameLK" value="'%' + nameLK + '%'"/> and name like #{nameLK}
			</if>
		</where>
		<choose>
			<when test="orderByAndDirection != null">
				order by ${orderByAndDirection}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>

	<select id="count" resultType="_long" parameterType="com.gc.model.query.RoleQueryModel">
		select count(*) from `adm_role`
		<where>
			<if test="nameLK != null">
				<bind name="nameLK" value="'%' + nameLK + '%'"/> and name like #{nameLK}
			</if>
		</where>
	</select>

	<select id="findByName" resultMap="baseResultMap">
		select id,name from `adm_role` where name = #{name}
	</select>

	<select id="findByIdIn" resultMap="baseResultMap">
		select id,name
		from `adm_role`
		where id in
		<foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
	</select>

</mapper>