<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gc.mapper.ShortMessageMapper" >

	<resultMap id="baseResultMap" type="com.gc.entity.sys.ShortMessage">
		<id column="id" property="id" />
		<result column="message" property="message" />
		<result column="phone" property="phone" />
		<result column="error_code" property="errorCode" />
		<result column="error_msg" property="errorMsg" />
		<result column="created_time" property="createdTime" />
		<result column="ip" property="ip" />
	</resultMap>

	<insert id="insert" parameterType="com.gc.entity.sys.ShortMessage" useGeneratedKeys="true" keyProperty="id">
	  insert into `sys_short_message` (message,phone,error_code,error_msg,created_time,ip)
	  values (#{message},#{phone},#{errorCode},#{errorMsg},#{createdTime},#{ip})
	</insert>

	<delete id="delete">
		delete from `sys_short_message` where id = #{id}
	</delete>

	<update id="update" parameterType="com.gc.entity.sys.ShortMessage">
		update `sys_short_message`
		<set>
			message = #{message},
			phone = #{phone},
			error_code = #{errorCode},
			error_msg = #{errorMsg},
			created_time = #{createdTime},
			ip = #{ip},
		</set>
		where id = #{id}
	</update>

	<update id="merge">
		update `sys_short_message`
			<set>
				<foreach collection="fields" item="field">
				<choose>
					<when test="field == 'message'">message = #{shortMessage.message},</when>
					<when test="field == 'phone'">phone = #{shortMessage.phone},</when>
					<when test="field == 'errorCode'">error_code = #{shortMessage.errorCode},</when>
					<when test="field == 'errorMsg'">error_msg = #{shortMessage.errorMsg},</when>
					<when test="field == 'createdTime'">created_time = #{shortMessage.createdTime},</when>
					<when test="field == 'ip'">ip = #{shortMessage.ip},</when>
				</choose>
				</foreach>
			</set>
		where id = #{shortMessage.id}
	</update>

	<select id="findOne" resultMap="baseResultMap" parameterType="long">
		select
		id,message,phone,error_code,error_msg,created_time,ip
		from `sys_short_message`
		where id = #{id}
	</select>

	<select id="findAll" resultMap="baseResultMap" parameterType="com.gc.model.query.ShortMessageQueryModel">
		select
		id,message,phone,error_code,error_msg,created_time,ip
		from `sys_short_message`
		<where>
			<if test="createdTimeLT != null">
				 and created_time &lt; #{createdTimeLT}
			</if>
			<if test="phoneEQ != null">
				 and phone = #{phoneEQ}
			</if>
			<if test="createdTimeGTE != null">
				 and created_time &gt;= #{createdTimeGTE}
			</if>
		</where>
		<choose>
			<when test="orderByAndDirection != null">
				order by ${orderByAndDirection}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>

	<select id="count" resultType="_long" parameterType="com.gc.model.query.ShortMessageQueryModel">
		select count(*) from `sys_short_message`
		<where>
			<if test="createdTimeLT != null">
				 and created_time &lt; #{createdTimeLT}
			</if>
			<if test="phoneEQ != null">
				 and phone = #{phoneEQ}
			</if>
			<if test="createdTimeGTE != null">
				 and created_time &gt;= #{createdTimeGTE}
			</if>
		</where>
	</select>

</mapper>